<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 复选框列头自定义菜单</title>

        <style>
            .custom-arrow-down {
                position: absolute;
                cursor: pointer;
            }

        </style>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格" enable-check-box-select="true" data-id-field="Id"
                data-text-field="Name" check-box-select-width="60">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" data-field="Name"></f:render-field>
                    <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                    <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="分组" data-field="Group" renderer-function="renderGroup"></f:render-field>
                    <f:render-field header-text="注册日期" data-field="LogTime" field-type="Date" renderer="Date" renderer-argument="yyyy/MM/dd"></f:render-field>
                </f:columns>
            </f:grid>
            <br />
            <f:button text="选中了哪些行（客户端）" css-class="marginr" click-handler="onNotifySelectedRowsClick"></f:button>

            <f:menu id="Menu1">
                <f:menu-button id="btnSelectInverse" text="反选" click-handler="onSelectInverse"></f:menu-button>
                <f:menu-separator></f:menu-separator>
                <f:menu-button id="btnSelectOdd" text="选中奇数行" click-handler="onSelectOdd"></f:menu-button>
                <f:menu-button id="btnSelectEven" text="选中偶数行" click-handler="onSelectEven"></f:menu-button>
                <f:menu-separator></f:menu-separator>
                <f:menu-button id="btnSelectAtSchool" text="选中在校的行" click-handler="onSelectAtSchool"></f:menu-button>
                <f:menu-button id="btnSelectLargeThan2004" text="选中入学年份大于2004的行" click-handler="onSelectLargeThan2004"></f:menu-button>
            </f:menu>

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script th:inline="none">
                function onSelectInverse(event) {
                    var grid1 = F.ui.Grid1,
                        rows = [];
                    var currentSelectedRows = grid1.getSelectedRows();
                    grid1.resolveRow(function(rowData) {
                        if ($.inArray(rowData.id, currentSelectedRows) < 0) {
                            rows.push(rowData.id);
                        }
                    });
                    grid1.selectRows(rows);
                }

                function onSelectOdd(event) {
                    var grid1 = F.ui.Grid1,
                        rows = [];
                    var rowIndex = 0;
                    grid1.resolveRow(function(rowData) {
                        if (rowIndex % 2 === 0) {
                            rows.push(rowData.id);
                        }
                        rowIndex++;
                    });
                    grid1.selectRows(rows);
                }

                function onSelectEven(event) {
                    var grid1 = F.ui.Grid1,
                        rows = [];
                    var rowIndex = 0;
                    grid1.resolveRow(function(rowData) {
                        if (rowIndex % 2 !== 0) {
                            rows.push(rowData.id);
                        }
                        rowIndex++;
                    });
                    grid1.selectRows(rows);
                }

                function onSelectLargeThan2004(event) {
                    var grid1 = F.ui.Grid1,
                        rows = [];
                    grid1.resolveRow(function(rowData) {
                        var entranceYear = rowData.values['EntranceYear'];
                        if (entranceYear > 2004) {
                            rows.push(rowData.id);
                        }
                    });
                    grid1.selectRows(rows);
                }

                function onSelectAtSchool(event) {
                    var grid1 = F.ui.Grid1,
                        rows = [];
                    grid1.resolveRow(function(rowData) {
                        if (rowData.values['AtSchool']) {
                            rows.push(rowData.id);
                        }
                    });
                    grid1.selectRows(rows);
                }

                F.ready(function() {

                    var grid1 = F.ui.Grid1;

                    grid1.el.on('click', '.f-grid-colheader .custom-arrow-down', function(event) {
                        F.ui.Menu1.show();

                        // 阻止事件传播（不执行表头复选框的选中/反选事件）
                        event.stopPropagation();
                    });

                });

            </script>
        </th:block>
    </body>

</html>
