<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 复选框列（隐藏某些行的复选框）</title>

        <style>
            /* 渲染函数给单元格加 hidethis 类 → 隐藏该行复选框 */
            #Grid1 .f-grid-cell.hidethis .f-grid-checkbox {
                display: none;
            }

        </style>
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格" data-id-field="Id" data-text-field="Name">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" data-field="Name"></f:render-field>
                    <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                    <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-check-field header-text="是否在校" column-id="AtSchool2" data-field="AtSchool" render-as-static-field="false"
                        renderer-function="renderAtSchool2"></f:render-check-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="注册日期" data-field="LogTime" field-type="Date" renderer="Date" renderer-argument="yyyy/MM/dd"></f:render-field>
                </f:columns>
            </f:grid>
            <br />
            <f:button text="选中了哪些行" margin-right="5" click-handler="onNotifySelectedRowsClick"></f:button>
            <f:button text="选中行复选框的状态" click-handler="onNotifyCheckFieldStatusClick"></f:button>
            <br />
            <br />
            注：本示例隐藏 EntranceYear&lt;=2004 的复选框，通过CSS样式来隐藏（display:none;）。
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script>
                // 入学年份 <= 2004 的行：给单元格加 hidethis 类隐藏其复选框
                function renderAtSchool2(value, params) {
                    var entranceYear = params.rowData.values['EntranceYear'];
                    if (entranceYear <= 2004) {
                        params.cellCls = 'hidethis';
                    }
                    return value;
                }

                function onNotifyCheckFieldStatusClick(event) {
                    var grid1 = F.ui.Grid1;

                    var rowEls = grid1.getSelectedRowEls();
                    if (!rowEls.length) {
                        F.alert('没有选中项！');
                        return;
                    }

                    var result = ['<table class="result">'];
                    result.push('<tr>');
                    result.push('<th>ID</th>');
                    result.push('<th>姓名</th>');
                    result.push('<th>是否在校</th>');
                    result.push('</tr>');
                    rowEls.each(function() {
                        var cnode = $(this);
                        var rowData = grid1.getRowData(cnode);
                        var atSchoolEl = cnode.find('.f-grid-cell-AtSchool2 .f-grid-checkbox');
                        var isChecked = atSchoolEl.hasClass('f-checked');

                        result.push('<tr>');
                        result.push('<td>' + rowData.id + '</td>');
                        result.push('<td>' + rowData.text + '</td>');
                        result.push('<td>' + (isChecked ? '在校' : '不在校') + '</td>');
                        result.push('</tr>');
                    });
                    result.push('</table>');

                    F.notify({
                        message: F.rawHtml(result.join('')),
                        target: '_top',
                        header: false,
                        messageIcon: '',
                        positionX: 'center',
                        positionY: 'top'
                    });
                }

            </script>
        </th:block>
    </body>

</html>
