<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 自定义合计</title>

        <style>
            .bold {
                font-weight: bold;
                color: red;
            }

        </style>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格" data-id-field="Id" data-text-field="Name" height="350"
                enable-check-box-select="true" allow-paging="true" page-size="5" is-database-paging="true" on-page-index-changed="Grid1_PageIndexChanged">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" data-field="Name"></f:render-field>
                    <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                    <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="学费" data-field="Fee"></f:render-field>
                    <f:render-field header-text="学杂费" data-field="ExtraFee"></f:render-field>
                </f:columns>
                <f:page-items>
                    <f:label id="labSummaryText" encode-text="false"></f:label>
                </f:page-items>
                <f:listeners>
                    <f:listener event="dataload" handler="onGrid1DataLoad"></f:listener>
                    <f:listener event="selectionchange" handler="onGrid1SelectionChange"></f:listener>
                </f:listeners>
            </f:grid>
            <br />
            <f:button text="选中了哪些行" click-handler="onNotifySelectedRowsClick"></f:button>

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script th:inline="none">
                function reCalculateSummaryText() {
                    var grid1 = F.ui.Grid1;
                    var labSummaryText = F.ui.labSummaryText;

                    var selectedRows = grid1.getSelectedRows(true);
                    if (!selectedRows.length) {
                        labSummaryText.setValue('无选中行');
                        return;
                    }

                    var feeSum = 0,
                        donateSum = 0;
                    $.each(selectedRows, function(index, data) {
                        feeSum += data.values['Fee'];
                        donateSum += data.values['ExtraFee'];
                    });

                    labSummaryText.setValue(F.formatString('已选：<strong class="bold">{0}</strong> &nbsp;学费合计：{1} &nbsp;捐赠合计：{2}',
                        selectedRows.length,
                        F.addCommas(feeSum.toFixed(2)),
                        F.addCommas(donateSum.toFixed(2))));
                }

                function onGrid1DataLoad(event) {
                    reCalculateSummaryText();
                }

                function onGrid1SelectionChange(event) {
                    reCalculateSummaryText();
                }

            </script>
        </th:block>
    </body>

</html>
