<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 导出文件（行内下载，手工实现行命令）</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格" data-id-field="Id" data-text-field="Name">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" data-field="Name"></f:render-field>
                    <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                    <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="分组" data-field="Group" renderer-function="renderGroup"></f:render-field>
                    <f:render-field header-text="" renderer-function="renderDownLoadLink"></f:render-field>
                </f:columns>
                <f:listeners>
                    <f:listener event="rowdblclick" handler="onGrid1RowDblclick"></f:listener>
                </f:listeners>
            </f:grid>
            <br /><br />
            注：双击行时，同样可以下载文件。

            <!-- 隐藏表单，用于自定义 POST 请求 -->
            <form id="myform" th:action="@{/grid/excel-row-command-download/export}" method="post">
                <input type="hidden" id="content" name="content" />
            </form>

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script th:inline="none">
                function renderDownLoadLink(value, params) {
                    return '<a class="action-btn mybtn3" href="javascript:;"><i class="f-icon f-grid-cell-iconfont f-icon-download"></i></a>';
                }

                function doCustomPost(rowData) {
                    // 自定义 POST 请求
                    document.getElementById('content').value = F.toJSON(rowData);
                    // CSRF：把运行时令牌复制进隐藏表单后再提交（Spring Security 校验 _csrf 参数）
                    var $myform = $('#myform');
                    var $csrfInput = $('#FineUICsrfToken');
                    if ($csrfInput.length && !$myform.find('input[name="' + $csrfInput.attr('name') + '"]').length) {
                        $('<input type="hidden">').attr('name', $csrfInput.attr('name')).val($csrfInput.val()).appendTo($myform);
                    }
                    $myform[0].submit();
                }

                function onGrid1RowDblclick(event, rowId) {
                    doCustomPost(F.ui.Grid1.getRowData(rowId));
                }

                F.ready(function() {
                    var grid1 = F.ui.Grid1;
                    grid1.el.on('click', 'a.action-btn', function(event) {
                        var cnode = $(this);
                        var rowData = grid1.getRowData(cnode.closest('.f-grid-row'));
                        doCustomPost(rowData);
                    });
                });

            </script>
        </th:block>
    </body>

</html>
