<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 数据库分页与排序</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格" data-id-field="Id" data-text-field="Name"
                enable-check-box-select="true" allow-paging="true" page-size="5" is-database-paging="true" on-page-index-changed="Grid1_PageIndexChanged"
                allow-sorting="true" sort-field="Gender" sort-direction="ASC" on-sort="Grid1_Sort">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" data-field="Name" sort-field="Name"></f:render-field>
                    <f:render-field header-text="性别" data-field="Gender" sort-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                    <f:render-field header-text="入学年份" data-field="EntranceYear" sort-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" data-field="AtSchool" sort-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="分组" data-field="Group" renderer-function="renderGroup"></f:render-field>
                    <f:render-field header-text="注册日期" data-field="LogTime" field-type="Date" renderer="Date" renderer-argument="yyyy/MM/dd"></f:render-field>
                </f:columns>
            </f:grid>
            <br />
            <f:button text="选中了哪些行" click-handler="onNotifySelectedRowsClick"></f:button>

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
        </th:block>
    </body>

</html>
