<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 大数据（10000，自定义行数提示）</title>
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格（10,000行）" data-id-field="Id" data-text-field="Name"
                enable-check-box-select="true" height="500" enable-big-data="true" fixed-row-height="true" enable-big-data-row-tip="true"
                paging-toolbar-visible="false">
                <f:columns>
                    <f:row-number-field width="50"></f:row-number-field>
                    <f:render-field header-text="姓名" data-field="Name" width="150"></f:render-field>
                    <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                    <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="分组" data-field="Group" renderer-function="renderGroup"></f:render-field>
                </f:columns>
                <f:toolbars>
                    <f:toolbar position="Bottom">
                        <f:items>
                            <f:label text="转到行："></f:label>
                            <f:number-box id="nbRowNumber" min-value="1" max-value="10000" text="1000" increment="100" enable-commas="true"></f:number-box>
                            <f:button text="Go" click-handler="onGotoRow"></f:button>
                            <f:toolbar-fill></f:toolbar-fill>
                            <f:label id="labRowTip"></f:label>
                        </f:items>
                    </f:toolbar>
                </f:toolbars>
                <f:listeners>
                    <f:listener event="bigdatarowtip" handler="onGrid1BigDataRowTip"></f:listener>
                </f:listeners>
            </f:grid>
            <br /><br />
            <f:button text="选中了哪些行" click-handler="onNotifySelectedRowsClick"></f:button>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script>
                function onGotoRow(event) {
                    F.ui.Grid1.scrollToRow(F.ui.nbRowNumber.getValue() - 1);
                }

                function onGrid1BigDataRowTip(event, startRowNumber, endRowNumber, rowCount) {
                    F.ui.labRowTip.setValue(F.formatString('显示 {0} - {1} 条，共 {2} 条', startRowNumber, endRowNumber, rowCount));
                }

            </script>
        </th:block>
    </body>

</html>
