<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 大数据（10000，服务端分页）</title>
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格（10,000行）" data-id-field="Id" data-text-field="Name"
                enable-check-box-select="true" height="500" enable-big-data="true" fixed-row-height="true" enable-big-data-row-tip="false" allow-paging="true"
                is-database-paging="true" page-size="120" on-page-index-changed="Grid1_PageIndexChanged" paging-toolbar-visible="true">
                <f:columns>
                    <f:row-number-field width="50" enable-paging-number="true"></f:row-number-field>
                    <f:render-field header-text="姓名" data-field="Name" width="150"></f:render-field>
                    <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                    <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="分组" data-field="Group" renderer-function="renderGroup"></f:render-field>
                </f:columns>
            </f:grid>
            <br /><br />
            <f:button text="选中了哪些行" click-handler="onNotifySelectedRowsClick"></f:button>
            <br /><br />注：启用大数据，启用分页（服务端分页），每页显示 120 条记录。
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
        </th:block>
    </body>

</html>
