<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 窗体（保持位置和大小）</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:button id="btnShowWindowMax" text="显示窗体（设置最大化）" click-handler="onOpenWindowMaximizedClick"></f:button>
            <br />
            <br />
            <f:button id="btnShowWindow900" text="显示窗体（设置大小为 900px * 450px）" click-handler="onOpenWindow900Click"></f:button>
            <br />
            <br />
            <f:button id="btnShowWindowLargeHeight" text="显示窗体（高度占满整个页面）" click-handler="onOpenWindowLargeHeightClick"></f:button>
            <br />
            <br />
            <f:button id="btnShowWindow" text="显示窗体（保持关闭时的位置和大小）" click-handler="onOpenWindow1Click"></f:button>
            <br />
            <br />
            <f:button id="btnCloseWindow" text="关闭窗体" click-handler="onCloseWindow1Click"></f:button>
            <br />
            <br />
            <br />
            <f:window id="Window1" width="650" height="300" icon-font="_Tag" title="窗体" hidden="true" keep-last-position="true" keep-last-size="true"
                enable-collapse="false" enable-resize="true" is-modal="false" auto-scroll="true" body-padding="10" enable-maximize="true"
                content="<p><a href='http://tech.163.com/special/jobsdead/' target='_blank'><b>乔布斯</b></a></p><p>乔布斯于1955年2月24日出生，苹果创始人之一。今年8月苹果超越埃克森美孚成为全球最大市值企业，截止上季度持有现金达到762亿美金，甚至超过了美国政府国库存款。</p><p>遗憾的是，苹果的取得巨大成功还是无法给乔布斯一个健康的身体，乔布斯2003年被发现患有胰脏癌，随后又查出肝癌，危在旦夕的乔布斯在经历了8年的抗癌斗争、3次病休、若干次手术后，于2011年8月25日正式宣布从CEO位置辞职。2011年10月6日，乔布斯在苹果发布iPhone 4S后的第二天与世长辞。</p>">
            </f:window>
            <br>
            <br>
            注：本示例设置了窗体的 keep-last-position="true" 和 keep-last-size="true"，关闭窗体再打开时，窗体的位置和大小保持关闭时的状态。

        </th:block>
        <th:block layout:fragment="script">
            <script>
                function onOpenWindowMaximizedClick(event) {
                    F.ui.Window1.show();
                    F.ui.Window1.maximize();
                }

                function onOpenWindow900Click(event) {
                    F.ui.Window1.show(900, 450);
                }

                function onOpenWindowLargeHeightClick(event) {
                    F.ui.Window1.show(900, 10000);
                }

                function onOpenWindow1Click(event) {
                    F.ui.Window1.show();
                }

                function onCloseWindow1Click(event) {
                    F.ui.Window1.hide();
                }

            </script>
        </th:block>
    </body>

</html>
