<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 跨页保持选中行（数据库分页 + 标签汇总）</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格（跨页选中行）" data-id-field="Id" data-text-field="Name"
                enable-check-box-select="true" allow-paging="true" page-size="5" is-database-paging="true" on-page-index-changed="Grid1_PageIndexChanged"
                keep-current-selection="true" clear-selection-before-paging="false" keep-paged-selection="true" clear-selection-before-binding="false">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" data-field="Name"></f:render-field>
                    <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                    <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="分组" data-field="Group" renderer-function="renderGroup"></f:render-field>
                    <f:render-field header-text="注册日期" data-field="LogTime" field-type="Date" renderer="Date" renderer-argument="yyyy/MM/dd"></f:render-field>
                </f:columns>
                <f:listeners>
                    <f:listener event="dataload" handler="onGrid1DataLoad"></f:listener>
                    <f:listener event="selectionchange" handler="onGrid1SelectionChange"></f:listener>
                </f:listeners>
            </f:grid>
            <br />
            <f:label id="labResult" encode-text="false"></f:label>
            <br /><br />
            注意设置属性：
            <ul>
                <li>data-id-field=Id：行标识符字段</li>
                <li>keep-current-selection=true：多选时保持当前已选中行（客户端）</li>
                <li>keep-paged-selection=true：多选时保持分页中已选中行（客户端）</li>
                <li>clear-selection-before-paging=false：分页前清空选中项（客户端）</li>
                <li>clear-selection-before-binding=false：数据绑定前清空选中项（服务端，数据库分页事件中需要重新绑定数据）</li>
            </ul>

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script>
                // 缓存的行数据
                var cachedRows = {};

                function updateLabelResult() {
                    var selectedRowIds = F.ui.Grid1.getSelectedRows();
                    if (!selectedRowIds.length) {
                        F.ui.labResult.setText('尚未选中行');
                    } else {
                        var result = [];
                        $.each(selectedRowIds, function(index, item) {
                            var rowId = item,
                                rowData = cachedRows[rowId];
                            result.push(`${rowData.text}（${rowId}，${rowData.values['Major']}）`);
                        });
                        F.ui.labResult.setText(`选中了 <strong>${result.length}</strong> 行：${result.join(', ')}`);
                    }
                }

                function cacheCurrentPage() {
                    $.each(F.ui.Grid1.getSelectedRows(true), function(index, item) {
                        var rowId = item.id;
                        if (!cachedRows[rowId]) {
                            cachedRows[rowId] = item;
                        }
                    });
                }

                function onGrid1SelectionChange(event) {
                    cacheCurrentPage();
                    updateLabelResult();
                }

                function onGrid1DataLoad(event) {
                    cacheCurrentPage();
                    updateLabelResult();
                }

            </script>
        </th:block>
    </body>

</html>
