<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 加载更多（服务端按钮）</title>
        <style>
            .morebutton {
                width: 100%;
                text-align: center;
                margin: 8px 0;
            }

        </style>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:panel is-fluid="true" title="面板" height="350" auto-scroll="true">
                <f:items>
                    <f:grid id="Grid1" show-border="false" show-header="false" title="表格" data-id-field="Id" data-text-field="Name"
                        enable-check-box-select="true" paging-toolbar-visible="false">
                        <f:columns>
                            <f:row-number-field></f:row-number-field>
                            <f:render-field header-text="姓名" data-field="Name"></f:render-field>
                            <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                            <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                            <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                            <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                                min-width="150"></f:render-field>
                            <f:render-field header-text="分组" data-field="Group" renderer-function="renderGroup"></f:render-field>
                            <f:render-field header-text="注册日期" data-field="LogTime" field-type="Date" renderer="Date"
                                renderer-argument="yyyy/MM/dd"></f:render-field>
                        </f:columns>
                        <f:attributes>
                            <f:attribute key="data-index" value="0"></f:attribute>
                        </f:attributes>
                    </f:grid>
                    <f:link-button css-class="morebutton" text="加载更多..." id="btnMore" on-click="btnMore_Click"></f:link-button>
                </f:items>
            </f:panel>
            <br />
            <f:button text="选中了哪些行" click-handler="onNotifySelectedRowsClick"></f:button>
            <br /><br />

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
        </th:block>
    </body>

</html>
