<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 多语言表格</title>
        <!--/* 声明本页引用的其它源文件（分号分隔，每项写成 前缀:值，前缀有 route/template/class/res 四种，见 SourceFiles）：首页"查看源代码"把它们也渲染为选项卡 */-->
        <meta name="sourcefiles" content="res:static/res/js/grid.js" />
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="#{multilang.grid.title}" data-id-field="Id" data-text-field="Name">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="#{multilang.grid.column.name}" data-field="Name" width="150"></f:render-field>
                    <f:render-field header-text="#{multilang.grid.column.gender}" data-field="Gender" field-type="Int" renderer-function="renderGender"
                        width="150"></f:render-field>
                    <f:render-field header-text="#{multilang.grid.column.entranceYear}" data-field="EntranceYear" field-type="Int" width="150"></f:render-field>
                    <f:render-check-field header-text="#{multilang.grid.column.atSchool}" data-field="AtSchool" render-as-static-field="true"
                        width="150"></f:render-check-field>
                    <f:render-field header-text="#{multilang.grid.column.major}" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="#{multilang.grid.column.group}" data-field="Group" renderer-function="renderGroup"
                        width="150"></f:render-field>
                    <f:render-field header-text="#{multilang.grid.column.logTime}" data-field="LogTime" field-type="Date" renderer="Date"
                        renderer-argument="yyyy/MM/dd" width="150"></f:render-field>
                </f:columns>
            </f:grid>
            <br />
            <f:button text="#{multilang.grid.button.selectedRows}" click-handler="onNotifySelectedRowsClick"></f:button>

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <!-- 服务端按当前 Locale 翻译的客户端 JS 资源（覆盖 grid.js 内静态中文兜底） -->
            <script th:inline="javascript">
                /*<![CDATA[*/
                F.setResources( /*[[${page.javaScriptResources}]]*/ {});
                /*]]>*/

            </script>
        </th:block>
    </body>

</html>
