<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · Region 多个区域面板</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:panel id="Panel1" margin="24" show-border="false" show-header="false" layout="Region" is-view-port="true">
                <f:items>
                    <f:panel region-position="Top" region-split="true" enable-collapse="true" height="50" title="顶部面板" show-border="true" show-header="false"
                        body-padding="10">
                        <f:items>
                            <f:label id="Label1" text="顶部面板的内容">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel region-position="Top" region-split="true" enable-collapse="true" height="50" title="顶部面板" show-border="true" show-header="false"
                        body-padding="10">
                        <f:items>
                            <f:label id="Label4" text="顶部面板的内容">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="panelLeftRegion" region-position="Left" region-split="true" enable-collapse="true" width="200" title="左侧面板" show-border="true"
                        show-header="true" body-padding="10">
                        <f:items>
                            <f:label id="Label2" text="左侧面板的内容">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="panel2" region-position="Left" region-split="true" enable-collapse="true" width="200" title="左侧面板" show-border="true"
                        show-header="true" body-padding="10">
                        <f:items>
                            <f:label id="Label6" text="左侧面板的内容">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="panelCenterRegion" region-position="Center" title="中间面板" show-border="true" show-header="true" body-padding="10">
                        <f:items>
                            <f:label id="Label3" text="中间面板的内容">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel region-position="Right" region-split="true" enable-collapse="true" width="200" title="右侧面板" show-border="true" show-header="true"
                        body-padding="10">
                        <f:items>
                            <f:label id="Label5" text="右侧面板的内容">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel region-position="Right" region-split="true" enable-collapse="true" width="200" title="右侧面板" show-border="true" show-header="true"
                        body-padding="10">
                        <f:items>
                            <f:label id="Label7" text="右侧面板的内容">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel region-position="Bottom" region-split="true" enable-collapse="true" height="50" title="底部面板" show-border="true" show-header="false"
                        body-padding="10">
                        <f:items>
                            <f:label id="Label8" text="底部面板的内容">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel region-position="Bottom" region-split="true" enable-collapse="true" height="50" title="底部面板" show-border="true" show-header="false"
                        body-padding="10">
                        <f:items>
                            <f:label id="Label9" text="底部面板的内容">
                            </f:label>
                        </f:items>
                    </f:panel>
                </f:items>
            </f:panel>

        </th:block>
    </body>

</html>
