<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · Region 嵌套布局</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:panel id="Panel1" margin="24" show-border="false" show-header="false" layout="Region" is-view-port="true">
                <f:items>
                    <f:panel id="panelLeftRegion" region-position="Left" region-split="true" enable-collapse="true" width="200" title="左侧面板" show-border="true"
                        show-header="true" body-padding="10">
                        <f:items>
                            <f:label id="Label2" text="左侧面板的内容">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel region-position="Center" show-border="false" show-header="false" layout="Fit">
                        <f:items>
                            <f:panel id="Panel2" show-border="false" show-header="false" layout="Region">
                                <f:items>
                                    <f:panel id="panel3" region-position="Left" region-split="true" enable-collapse="true" width="200" title="左侧面板"
                                        show-border="true" show-header="true" body-padding="10">
                                        <f:items>
                                            <f:label id="Label1" text="左侧面板的内容">
                                            </f:label>
                                        </f:items>
                                    </f:panel>
                                    <f:panel id="Panel4" region-position="Center" show-border="false" show-header="false" layout="Fit">
                                        <f:items>
                                            <f:panel id="Panel5" show-border="false" show-header="false" layout="Region">
                                                <f:items>
                                                    <f:panel id="panel6" region-position="Left" region-split="true" enable-collapse="true" width="200"
                                                        title="左侧面板" show-border="true" show-header="true" body-padding="10">
                                                        <f:items>
                                                            <f:label id="Label3" text="左侧面板的内容">
                                                            </f:label>
                                                        </f:items>
                                                    </f:panel>
                                                    <f:panel id="panel7" region-position="Center" title="中间面板" show-border="true" show-header="true"
                                                        body-padding="10">
                                                        <f:items>
                                                            <f:label id="Label4" text="中间面板的内容">
                                                            </f:label>
                                                        </f:items>
                                                    </f:panel>
                                                </f:items>
                                            </f:panel>
                                        </f:items>
                                    </f:panel>
                                </f:items>
                            </f:panel>
                        </f:items>
                    </f:panel>
                </f:items>
            </f:panel>

        </th:block>
    </body>

</html>
