<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · Table 布局</title>

        <style>
            .mytable td.f-layout-table-cell {
                padding: 5px;
            }

        </style>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:panel id="Panel2" is-fluid="true" css-class="mytable" height="500" show-border="true" layout="Table" table-config-columns="3" show-header="true"
                title="面板（Height=450 Width=750 Layout=Table）">
                <f:items>
                    <f:panel id="Panel1" title="Panel1" width="300" height="210" table-rowspan="2" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label1" text="Width=300 Height=210 TableRowspan=2">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel3" title="Panel2" width="430" height="100" table-colspan="2" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label2" text="Width=430 Height=100 TableColspan=2">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel4" title="Panel3" width="200" height="100" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label3" text="Width=200 Height=100">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel5" title="Panel4" width="220" height="100" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label4" text="Width=220 Height=100">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel6" title="Panel5" width="300" height="100" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label5" text="Width=300 Height=100">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel7" title="Panel6" width="200" height="100" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label6" text="Width=200 Height=100">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel8" title="Panel6" width="220" height="100" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label7" text="Width=220 Height=100">
                            </f:label>
                        </f:items>
                    </f:panel>
                </f:items>
            </f:panel>

        </th:block>
    </body>

</html>
