<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · VBox 布局</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:panel id="Panel2" is-fluid="true" height="350" show-border="true" enable-collapse="true" layout="VBox" body-padding="10"
                box-config-child-margin="0 0 5 0" show-header="true" title="面板（Layout=VBox Height=350）（默认值：BoxConfigAlign=Stretch BoxConfigPosition=Start）">
                <f:items>
                    <f:panel id="Panel1" title="面板1" box-flex="1" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label1" text="BoxFlex=1">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel3" title="面板2" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label2" text="Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel4" title="面板3" box-flex="2" margin="0" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label3" text="BoxFlex=2 Margin=0">
                            </f:label>
                        </f:items>
                    </f:panel>
                </f:items>
            </f:panel>
            <br />
            <br />
            <f:panel id="Panel5" is-fluid="true" height="350" show-border="true" enable-collapse="true" layout="VBox" box-config-align="Stretch"
                box-config-position="End" body-padding="10" box-config-child-margin="0 0 5 0" show-header="true"
                title="面板（Layout=VBox Height=350 BoxConfigAlign=Stretch BoxConfigPosition=End）">
                <f:items>
                    <f:panel id="Panel6" title="面板1" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label4" text="Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel7" title="面板2" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label5" text="Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel8" title="面板3" height="60" margin="0" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label6" text="Height=60 Margin=0">
                            </f:label>
                        </f:items>
                    </f:panel>
                </f:items>
            </f:panel>
            <br />
            <br />
            <f:panel id="Panel9" is-fluid="true" height="350" show-border="true" enable-collapse="true" layout="VBox" box-config-align="Stretch"
                box-config-position="Center" body-padding="10" box-config-child-margin="0 0 5 0" show-header="true"
                title="面板（Layout=VBox Height=350 BoxConfigAlign=Stretch BoxConfigPosition=Center）">
                <f:items>
                    <f:panel id="Panel10" title="面板1" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label7" text="Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel11" title="面板2" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label8" text="Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel12" title="面板3" height="60" margin="0" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label9" text="Height=60 Margin=0">
                            </f:label>
                        </f:items>
                    </f:panel>
                </f:items>
            </f:panel>
            <br />
            <br />
            <f:panel id="Panel13" is-fluid="true" height="350" show-border="true" enable-collapse="true" layout="VBox" box-config-align="Start"
                box-config-position="Center" body-padding="10" box-config-child-margin="0 0 5 0" show-header="true"
                title="面板（Layout=VBox Height=350 BoxConfigAlign=Start BoxConfigPosition=Center）">
                <f:items>
                    <f:panel id="Panel14" title="面板1" width="200" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label10" text="Width=200 Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel15" title="面板2" width="400" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label11" text="Width=400 Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel16" title="面板3" width="600" margin="0" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label12" text="Width=600 Height=60 Margin=0">
                            </f:label>
                        </f:items>
                    </f:panel>
                </f:items>
            </f:panel>
            <br />
            <br />
            <f:panel id="Panel21" is-fluid="true" height="350" show-border="true" enable-collapse="true" layout="VBox" box-config-align="Center"
                box-config-position="End" body-padding="10" box-config-child-margin="0 0 5 0" show-header="true"
                title="面板（Layout=VBox Height=350 BoxConfigAlign=Center BoxConfigPosition=End）">
                <f:items>
                    <f:panel id="Panel22" title="面板1" width="200" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label16" text="Width=200 Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel23" title="面板2" width="400" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label17" text="Width=400 Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel24" title="面板3" width="600" margin="0" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label18" text="Width=600 Height=60 Margin=0">
                            </f:label>
                        </f:items>
                    </f:panel>
                </f:items>
            </f:panel>
            <br />
            <br />
            <f:panel id="Panel25" is-fluid="true" height="350" show-border="true" enable-collapse="true" layout="VBox" box-config-align="End"
                box-config-position="Center" body-padding="10" box-config-child-margin="0 0 5 0" show-header="true"
                title="面板（Layout=VBox Height=350 BoxConfigAlign=End BoxConfigPosition=Center）">
                <f:items>
                    <f:panel id="Panel26" title="面板1" width="200" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label19" text="Width=200 Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel27" title="面板2" width="400" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label20" text="Width=400 Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel28" title="面板3" width="600" margin="0" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label21" text="Width=600 Height=60 Margin=0">
                            </f:label>
                        </f:items>
                    </f:panel>
                </f:items>
            </f:panel>
            <br />
            <br />
            <f:panel id="Panel17" is-fluid="true" height="350" show-border="true" enable-collapse="true" layout="VBox" box-config-align="StretchMax"
                box-config-position="Center" body-padding="10" box-config-child-margin="0 0 5 0" show-header="true"
                title="面板（Layout=VBox Height=350 BoxConfigAlign=StretchMax BoxConfigPosition=Center）">
                <f:items>
                    <f:panel id="Panel18" title="面板1" width="200" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label13" text="Width=200 Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel19" title="面板2" width="400" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label14" text="Width=400 Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel20" title="面板3" width="600" margin="0" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label15" text="Width=600 Height=60 Margin=0">
                            </f:label>
                        </f:items>
                    </f:panel>
                </f:items>
            </f:panel>
            <br />
            <br />
            <f:panel id="Panel31" is-fluid="true" height="350" show-border="true" enable-collapse="true" layout="VBox" box-config-align="StretchMaxCenter"
                box-config-position="Center" body-padding="10" box-config-child-margin="0 0 5 0" show-header="true"
                title="面板（Layout=VBox Height=350 BoxConfigAlign=StretchMaxCenter BoxConfigPosition=Center）">
                <f:items>
                    <f:panel id="Panel32" title="面板1" width="200" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label23" text="Width=200 Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel33" title="面板2" width="400" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label24" text="Width=400 Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel34" title="面板3" width="600" margin="0" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label25" text="Width=600 Height=60 Margin=0">
                            </f:label>
                        </f:items>
                    </f:panel>
                </f:items>
            </f:panel>
            <br />
            <br />
            <f:panel id="Panel35" is-fluid="true" height="350" show-border="true" enable-collapse="true" layout="VBox" box-config-align="StretchMaxEnd"
                box-config-position="Center" body-padding="10" box-config-child-margin="0 0 5 0" show-header="true"
                title="面板（Layout=VBox Height=350 BoxConfigAlign=StretchMaxEnd BoxConfigPosition=Center）">
                <f:items>
                    <f:panel id="Panel36" title="面板1" width="200" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label26" text="Width=200 Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel37" title="面板2" width="400" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label27" text="Width=400 Height=60">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel38" title="面板3" width="600" margin="0" height="60" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label28" text="Width=600 Height=60 Margin=0">
                            </f:label>
                        </f:items>
                    </f:panel>
                </f:items>
            </f:panel>
            <br />
            <br />
            <f:panel id="Panel29" is-fluid="true" height="350" show-border="true" enable-collapse="true" layout="VBox" box-config-align="Center"
                box-config-position="Center" body-padding="10" show-header="true"
                title="面板（Layout=VBox Height=350 BoxConfigAlign=Center BoxConfigPosition=Center）">
                <f:items>
                    <f:panel id="Panel30" title="面板（居中显示）" width="200" height="100" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label22" text="Width=200 Height=100">
                            </f:label>
                        </f:items>
                    </f:panel>
                </f:items>
            </f:panel>

        </th:block>
    </body>

</html>
