<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · VBox 自动高度布局</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:panel id="Panel5" is-fluid="true" show-border="true" enable-collapse="true" layout="VBox" show-header="true"
                title="面板（Layout=VBox）（默认值：BoxConfigAlign=Stretch）" box-config-child-margin="0 0 5 0" body-padding="5">
                <f:items>
                    <f:panel id="Panel1" title="面板1" height="100" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label1" text="Height=100">
                            </f:label>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel2" title="面板2" margin="0" body-padding="10" show-border="true" show-header="false">
                        <f:items>
                            <f:label id="Label3" text-raw-html="Margin=0<br><br><br><br><br><br>bottom line">
                            </f:label>
                        </f:items>
                    </f:panel>
                </f:items>
            </f:panel>

        </th:block>
    </body>

</html>
