<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · CSP HtmlEditor</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:simple-form id="SimpleForm1" is-fluid="true" body-padding="10" label-align="Top" title="表单">
                <f:items>
                    <f:html-editor id="HtmlEditor1" label="文本编辑器" editor="UEditor" base-path="/res/third-party/ueditor/" height="250"></f:html-editor>
                    <f:text-area id="TextArea1" label="多行文本框" height="150" text="FineUI的使命是创建 No JavaScript，No CSS 的网站应用程序"></f:text-area>
                    <f:button id="Button1" text="获取 HTML 编辑器的内容" css-class="marginr" on-click="Button1_Click"></f:button>
                    <f:button id="Button2" text="设置 HTML 编辑器的内容" on-click="Button2_Click"></f:button>
                </f:items>
            </f:simple-form>

            <br />
            <br />
            注：
            <ul>
                <li>示例站的普通页面默认启用严格 CSP，并通过 nonce 授权可信模板脚本。</li>
                <li>UEditor 会动态执行内联脚本和字符串代码。本页继承第三方编辑器场景基类，因此不输出 FineUI 的 CSP 响应头。</li>
                <li>这个例外只用于保留旧编辑器的完整功能；FineUI.Java 自身无需 <code>unsafe-inline</code> 或 <code>unsafe-eval</code>。</li>
                <li>文章：<a target="_blank"
                        href="https://fineui.com/docs/#/Questions/5000_CSP_unsafe_inline">https://fineui.com/docs/#/Questions/5000_CSP_unsafe_inline</a></li>
            </ul>

        </th:block>
        <th:block layout:fragment="script">
            <!--/* 本页属于明确的第三方编辑器兼容例外，不输出 FineUI CSP。 */-->
            <script>
                console.log('Hello world!');

            </script>
        </th:block>
    </body>

</html>
