<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · CssClass与CssStyle属性</title>

        <style>
            .red {
                font-weight: bold;
                color: Red;
            }

            .green {
                font-weight: bold;
                font-style: italic;
                font-size: 1.5em;
                color: Green;
            }

        </style>
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:label id="Label1" text="文本一，注意观察文本的样式"></f:label>
            <br />
            <f:button id="Button1" text="通过 CssStyle 修改文本的样式" on-click="Button1_Click"></f:button>
            <f:button id="Button3" text="清空 CssStyle 设置的样式" on-click="Button3_Click"></f:button>
            <br />
            <br />
            <f:label id="Label2" text="文本二，注意观察文本的样式"></f:label>
            <br />
            <f:button id="Button2" text="通过 CssClass 修改文本的样式" on-click="Button2_Click"></f:button>
            <f:button id="Button4" text="清空 CssClass 设置的样式" on-click="Button4_Click"></f:button>
        </th:block>
    </body>

</html>
