<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · DatePickerDisplayYear</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:simple-form id="SimpleForm1" is-fluid="true" body-padding="10" enable-collapse="false" title="简单表单">
                <f:items>
                    <f:date-picker id="DatePicker1" required="true" label="开始年份" empty-text="请选择开始年份" show-red-star="true" date-format-string="yyyy"
                        display-type="Year" show-today-button="false"></f:date-picker>
                    <f:date-picker id="DatePicker2" required="true" readonly="false" label="结束年份" show-red-star="true" compare-control="DatePicker1"
                        compare-operator="GreaterThan" compare-message="结束年份应该大于开始年份" date-format-string="yyyy" display-type="Year"
                        show-today-button="false"></f:date-picker>
                    <f:button id="btnSubmit" validate-forms="SimpleForm1" text="提交表单" on-click="btnSubmit_Click"></f:button>
                </f:items>
            </f:simple-form>
            <br />
            <f:label id="labResult" encode-text="false" show-label="false"></f:label>

        </th:block>
    </body>

</html>
