<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 分组面板（自动高度）</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:panel id="Panel1" is-fluid="true" body-padding="10" enable-collapse="true" title="面板（自动高度）">
                <f:items>
                    <f:group-panel id="GroupPanel1" title="分组面板一" body-padding="10" enable-collapse="true" collapsed="true">
                        <f:items>
                            <f:content-panel id="SimpleForm1" show-border="false" show-header="false">
                                <div id="header">OKOK</div>
                            </f:content-panel>
                        </f:items>
                    </f:group-panel>
                    <f:group-panel id="GroupPanel2" title="分组面板二" enable-collapse="true">
                        <f:items>
                            <f:content-panel id="ContentPanel1" body-padding="10" show-border="false" show-header="false">
                                <a href="http://tech.163.com/special/jobsdead/" target="_blank"><b>乔布斯</b></a><br />
                                <div>
                                    <p>
                                        乔布斯于1955年2月24日出生，苹果创始人之一。今年8月苹果超越埃克森美孚成为全球最大市值企业，截止上季度持有现金达到762亿美金，甚至超过了美国政府国库存款。
                                    </p>
                                    <p>
                                        遗憾的是，苹果的取得巨大成功还是无法给乔布斯一个健康的身体，乔布斯2003年被发现患有胰脏癌，随后又查出肝癌，危在旦夕的乔布斯在经历了8年的抗癌斗争、3次病休、若干次手术后，于2011年8月25日正式宣布从CEO位置辞职。2011年10月6日，乔布斯在苹果发布iPhone
                                        4S后的第二天与世长辞。
                                    </p>
                                </div>
                            </f:content-panel>
                        </f:items>
                    </f:group-panel>
                </f:items>
            </f:panel>
            <br />
            <f:button id="Button2" text="展开/折叠分组面板二" on-click="Button2_Click"></f:button>

        </th:block>
    </body>

</html>
