<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · DataListLinkToPanelGroup</title>

        <link th:href="@{/res/css/datalist.css}" rel="stylesheet" />
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:panel id="Panel1" show-border="false" show-header="false" auto-scroll="true" is-view-port="true">
                <f:toolbars>
                    <f:toolbar id="Toolbar1" title="列表" header-style="true"></f:toolbar>
                </f:toolbars>
                <f:items>
                    <f:data-list id="DataList1" enable-group="true"></f:data-list>
                </f:items>
            </f:panel>

            <f:panel id="Panel2" show-header="false" show-border="false" hidden="true" body-padding="10px" is-view-port="true" layout="Fit">
                <f:toolbars>
                    <f:toolbar id="Toolbar2" title="Panel2" header-style="true">
                        <f:items>
                            <f:button id="Button4" size="Small" text="后退" click-handler="onBacktoPanel1Click"></f:button>
                        </f:items>
                    </f:toolbar>
                </f:toolbars>
                <f:items>
                    <f:label id="Label2" encode-text="false"></f:label>
                </f:items>
            </f:panel>

        </th:block>

        <th:block layout:fragment="script">
            <script>
                function onBacktoPanel1Click(event) {
                    F.slideRight('Panel2', 'Panel1');
                }

                F.ready(function() {

                    var dataList1 = F.ui.DataList1;
                    if (!dataList1) return;
                    dataList1.el.on('click', 'a.f-datalist-item-inner', function(event) {
                        var innerEl = $(this);

                        var text = innerEl.find('.item-text').text();
                        var desc = innerEl.find('.item-desc').text();
                        var imageUrl = innerEl.find('.item-img').attr('src');
                        F.ui.Toolbar2.setTitle(text);
                        F.ui.Label2.setValue('<div style="text-align:center;margin-bottom:15px;"><img style="width:60px;" src="' + imageUrl +
                            '"/></div>' + desc);

                        F.slideLeft('Panel1', 'Panel2');
                    });

                });

            </script>
        </th:block>
    </body>

</html>
