<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · DataListSelectedValueArray</title>

        <link th:href="@{/res/css/datalist.css}" rel="stylesheet" />
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:panel id="Panel1" show-border="false" show-header="false" auto-scroll="true" is-view-port="true">
                <f:toolbars>
                    <f:toolbar id="Toolbar1" title="列表" header-style="true">
                        <f:items>
                            <f:button id="btnSubmit" text="获取选中项" on-click="btnSubmit_Click"></f:button>
                        </f:items>
                    </f:toolbar>
                </f:toolbars>
                <f:items>
                    <f:data-list id="DataList1" selected-value-array="cn,us" enable-multi-select="true" enable-select="true"
                        data-value-field="Id"></f:data-list>
                </f:items>
            </f:panel>

        </th:block>
    </body>

</html>
