<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · DataListDataBind</title>

        <link th:href="@{/res/css/datalist.css}" rel="stylesheet" />
        <style>
            .item-desc {
                word-break: break-all;
                white-space: normal;
            }

        </style>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:panel id="Panel1" show-border="false" show-header="false" auto-scroll="true" is-view-port="true">
                <f:toolbars>
                    <f:toolbar id="Toolbar1" title="列表" header-style="true">
                        <f:items>
                            <f:button id="btnReDataBind" text="重新绑定" on-click="btnReDataBind_Click"></f:button>
                        </f:items>
                    </f:toolbar>
                </f:toolbars>
                <f:items>
                    <f:data-list id="DataList1"></f:data-list>
                    <f:hidden-field id="hfSourceKey"></f:hidden-field>
                </f:items>
            </f:panel>

        </th:block>
    </body>

</html>
