<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 选项卡标题边框</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:tab-strip id="TabStrip4" is-fluid="true" height="150" show-border="true" tab-border-color="true" active-tab-index="0">
                <f:tabs>
                    <f:tab id="Tab10" title="标签一" body-padding="10">
                        <f:items>
                            <f:label id="Label10" text="第一个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab id="Tab11" title="标签二" body-padding="10">
                        <f:items>
                            <f:label id="Label11" text="第二个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab id="Tab12" title="标签三" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label id="Label12" text="第三个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab id="Tab13" title="标签四" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label id="Label13" text="第四个标签的内容" />
                        </f:items>
                    </f:tab>
                </f:tabs>
            </f:tab-strip>
            <br />
            <f:tab-strip id="TabStrip5" is-fluid="true" height="150" show-border="true" tab-align="Center" tab-border-color="true" active-tab-index="1">
                <f:tabs>
                    <f:tab id="Tab14" title="标签一" body-padding="10">
                        <f:items>
                            <f:label id="Label14" text="第一个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab id="Tab15" title="标签二" body-padding="10">
                        <f:items>
                            <f:label id="Label15" text="第二个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab id="Tab16" title="标签三" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label id="Label16" text="第三个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab id="Tab17" title="标签四" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label id="Label17" text="第四个标签的内容" />
                        </f:items>
                    </f:tab>
                </f:tabs>
            </f:tab-strip>
            <br />
            <f:tab-strip id="TabStrip6" is-fluid="true" height="150" show-border="true" tab-align="Right" tab-border-color="true" active-tab-index="2">
                <f:tabs>
                    <f:tab id="Tab18" title="标签一" body-padding="10">
                        <f:items>
                            <f:label id="Label18" text="第一个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab id="Tab19" title="标签二" body-padding="10">
                        <f:items>
                            <f:label id="Label19" text="第二个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab id="Tab20" title="标签三" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label id="Label20" text="第三个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab id="Tab21" title="标签四" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label id="Label21" text="第四个标签的内容" />
                        </f:items>
                    </f:tab>
                </f:tabs>
            </f:tab-strip>
            <br />
            <br />
            <br />
            <f:tab-strip id="TabStrip1" is-fluid="true" height="150" tab-fill="true" tab-border-color="true" show-border="true" active-tab-index="0">
                <f:tabs>
                    <f:tab title="标签一" body-padding="10">
                        <f:items>
                            <f:label text="第一个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签二" body-padding="10">
                        <f:items>
                            <f:label text="第二个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签三" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第三个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab id="Tab7" title="标签四" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label id="Label7" text="第四个标签的内容" />
                        </f:items>
                    </f:tab>
                </f:tabs>
            </f:tab-strip>
            <br />
            <br />
            <f:tab-strip id="TabStrip2" is-fluid="true" height="150" tab-fill="true" tab-space="0" tab-border-color="true" show-border="true"
                active-tab-index="1">
                <f:tabs>
                    <f:tab id="Tab1" title="标签一" body-padding="10">
                        <f:items>
                            <f:label id="Label1" text="第一个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab id="Tab2" title="标签二" body-padding="10">
                        <f:items>
                            <f:label id="Label2" text="第二个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab id="Tab3" title="标签三" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label id="Label3" text="第三个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab id="Tab8" title="标签四" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label id="Label8" text="第四个标签的内容" />
                        </f:items>
                    </f:tab>
                </f:tabs>
            </f:tab-strip>
            <br />
            <br />
            <f:tab-strip id="TabStrip3" is-fluid="true" height="150" tab-fill="true" tab-space="-1" tab-border-color="true" show-border="true"
                active-tab-index="2">
                <f:tabs>
                    <f:tab id="Tab4" title="标签一" body-padding="10">
                        <f:items>
                            <f:label id="Label4" text="第一个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab id="Tab5" title="标签二" body-padding="10">
                        <f:items>
                            <f:label id="Label5" text="第二个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab id="Tab6" title="标签三" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label id="Label6" text="第三个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab id="Tab9" title="标签四" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label id="Label9" text="第四个标签的内容" />
                        </f:items>
                    </f:tab>
                </f:tabs>
            </f:tab-strip>

        </th:block>
    </body>

</html>
