<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 选项卡标题墨水条</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:tab-strip id="TabStrip1" is-fluid="true" height="150" show-border="true" tab-position="Top" active-tab-index="0" show-ink-bar="true">
                <f:tabs>
                    <f:tab title="标签一" body-padding="10">
                        <f:items>
                            <f:label text="第一个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签二" body-padding="10">
                        <f:items>
                            <f:label text="第二个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签三" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第三个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签四" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第四个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签五" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第五个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签六" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第六个标签的内容" />
                        </f:items>
                    </f:tab>
                </f:tabs>
            </f:tab-strip>
            <br />
            <f:tab-strip id="TabStrip2" is-fluid="true" height="150" show-border="true" tab-position="Bottom" active-tab-index="0" show-ink-bar="true">
                <f:tabs>
                    <f:tab title="标签一" body-padding="10">
                        <f:items>
                            <f:label text="第一个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签二" body-padding="10">
                        <f:items>
                            <f:label text="第二个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签三" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第三个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签四" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第四个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签五" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第五个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签六" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第六个标签的内容" />
                        </f:items>
                    </f:tab>
                </f:tabs>
            </f:tab-strip>
            <br />
            <f:tab-strip id="TabStrip3" is-fluid="true" height="250" show-border="true" tab-position="Left" active-tab-index="0" show-ink-bar="true">
                <f:tabs>
                    <f:tab title="标签一" body-padding="10">
                        <f:items>
                            <f:label text="第一个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签二" body-padding="10">
                        <f:items>
                            <f:label text="第二个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签三" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第三个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签四" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第四个标签的内容" />
                        </f:items>
                    </f:tab>
                </f:tabs>
            </f:tab-strip>
            <br />
            <f:tab-strip id="TabStrip4" is-fluid="true" height="250" show-border="true" tab-position="Right" active-tab-index="0" show-ink-bar="true">
                <f:tabs>
                    <f:tab title="标签一" body-padding="10">
                        <f:items>
                            <f:label text="第一个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签二" body-padding="10">
                        <f:items>
                            <f:label text="第二个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签三" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第三个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签四" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第四个标签的内容" />
                        </f:items>
                    </f:tab>
                </f:tabs>
            </f:tab-strip>

            <br />
            <br />
            <br />
            以下示例增加属性：ink-bar-position="Top"
            <hr />
            <br />
            <br />

            <f:tab-strip id="TabStrip5" is-fluid="true" height="150" show-border="true" tab-position="Top" active-tab-index="0" show-ink-bar="true"
                ink-bar-position="Top">
                <f:tabs>
                    <f:tab title="标签一" body-padding="10">
                        <f:items>
                            <f:label text="第一个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签二" body-padding="10">
                        <f:items>
                            <f:label text="第二个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签三" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第三个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签四" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第四个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签五" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第五个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签六" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第六个标签的内容" />
                        </f:items>
                    </f:tab>
                </f:tabs>
            </f:tab-strip>
            <br />
            <f:tab-strip id="TabStrip6" is-fluid="true" height="150" show-border="true" tab-position="Bottom" active-tab-index="0" show-ink-bar="true"
                ink-bar-position="Top">
                <f:tabs>
                    <f:tab title="标签一" body-padding="10">
                        <f:items>
                            <f:label text="第一个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签二" body-padding="10">
                        <f:items>
                            <f:label text="第二个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签三" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第三个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签四" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第四个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签五" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第五个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签六" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第六个标签的内容" />
                        </f:items>
                    </f:tab>
                </f:tabs>
            </f:tab-strip>
            <br />
            <f:tab-strip id="TabStrip7" is-fluid="true" height="250" show-border="true" tab-position="Left" active-tab-index="0" show-ink-bar="true"
                ink-bar-position="Top">
                <f:tabs>
                    <f:tab title="标签一" body-padding="10">
                        <f:items>
                            <f:label text="第一个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签二" body-padding="10">
                        <f:items>
                            <f:label text="第二个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签三" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第三个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签四" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第四个标签的内容" />
                        </f:items>
                    </f:tab>
                </f:tabs>
            </f:tab-strip>
            <br />
            <f:tab-strip id="TabStrip8" is-fluid="true" height="250" show-border="true" tab-position="Right" active-tab-index="0" show-ink-bar="true"
                ink-bar-position="Top">
                <f:tabs>
                    <f:tab title="标签一" body-padding="10">
                        <f:items>
                            <f:label text="第一个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签二" body-padding="10">
                        <f:items>
                            <f:label text="第二个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签三" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第三个标签的内容" />
                        </f:items>
                    </f:tab>
                    <f:tab title="标签四" enable-close="true" body-padding="10">
                        <f:items>
                            <f:label text="第四个标签的内容" />
                        </f:items>
                    </f:tab>
                </f:tabs>
            </f:tab-strip>

        </th:block>
    </body>

</html>
