<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 列拖拽排序</title>
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格" data-id-field="Id" data-text-field="Name"
                enable-column-move="true">
                <f:columns>
                    <f:row-number-field column-id="RowNumber"></f:row-number-field>
                    <f:render-field header-text="姓名" column-id="Name" data-field="Name"></f:render-field>
                    <f:render-field header-text="性别" column-id="Gender" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                    <f:render-field header-text="入学年份" column-id="EntranceYear" data-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" column-id="AtSchool" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field header-text="所学专业" column-id="Major" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="分组" column-id="Group" data-field="Group" renderer-function="renderGroup"></f:render-field>
                    <f:render-field header-text="注册日期" column-id="LogTime" data-field="LogTime" field-type="Date" renderer="Date"
                        renderer-argument="yyyy/MM/dd"></f:render-field>
                </f:columns>
                <f:listeners>
                    <f:listener event="columnmove" handler="onGrid1ColumnMove"></f:listener>
                </f:listeners>
            </f:grid>
            <br />
            <br />
            <f:button id="btnRefresh" text="刷新本页面（保持列顺序）" click-handler="onRefreshClick"></f:button>
            <br />
            <br />
            <f:button text="清空数据" id="btnClearData" on-click="btnClearData_Click" css-class="marginr"></f:button>
            <f:button text="重新绑定数据" id="btnRebind" icon="Reload" on-click="btnRebindData_Click"></f:button>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script>
                function onRefreshClick(event) {
                    window.location.reload();
                }

                function onGrid1ColumnMove(event, targetColumnId, sourceColumnId, operation) {
                    var columnIds = $.map(this.columns, function(item) {
                        return item.columnId;
                    });
                    F.customEvent("Grid1_ColumnMove", F.toJSON({
                        columnIds: columnIds
                    }));
                }

            </script>
        </th:block>
    </body>

</html>
