<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 行分组（自定义分组标题）</title>
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:grid id="Grid1" is-fluid="true" height="500" show-border="true" show-header="true" title="表格" data-id-field="Id" data-text-field="Name"
                enable-row-group="true" data-row-group-field="EntranceYear" row-group-renderer-function="onGrid1RowGroupRenderer">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" data-field="Name"></f:render-field>
                    <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                    <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="分组" data-field="Group" renderer-function="renderGroup"></f:render-field>
                    <f:render-field header-text="注册日期" data-field="LogTime" field-type="Date" renderer="Date" renderer-argument="yyyy/MM/dd"></f:render-field>
                </f:columns>
            </f:grid>
            <br />
            <f:button text="选中了哪些行" click-handler="onNotifySelectedRowsClick"></f:button>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script>
                function onGrid1RowGroupRenderer(groupValue, rowData) {
                    var maleCount = 0,
                        total = rowData.children.length;
                    for (var i = 0; i < total; i++) {
                        if (rowData.children[i].values["Gender"] === 1) {
                            maleCount++;
                        }
                    }
                    return F.formatString("入学年份：{0}，男：{1}，女：{2}", groupValue, maleCount, total - maleCount);
                }

            </script>
        </th:block>
    </body>

</html>
