<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 动态创建列（表头过滤）</title>
    </head>

    <body>
        <th:block layout:fragment="body">
            暂不支持！

            <f:drop-down-list id="DropDownList1" label="切换表格" width="500" on-selected-index-changed="DropDownList1_SelectedIndexChanged">
                <f:list-item text="表格一" value="table1" selected="true"></f:list-item>
                <f:list-item text="表格二（表头过滤）" value="table2"></f:list-item>
            </f:drop-down-list>
            <br /><br />
            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格一" height="500" data-id-field="Id" data-text-field="Name">
            </f:grid>
            <br /><br />
            <f:button text="选中了哪些行" click-handler="onNotifySelectedRowsClick"></f:button>
            <br /><br />
            <f:label id="labResult" encode-text="false"></f:label>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
        </th:block>
    </body>

</html>
