<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 按钮宽高</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:button id="btnIcon1" text="图标在左侧" width="150" height="60" icon="Email" css-class="marginr"></f:button>
            <f:button id="btnIcon2" text="图标在右侧" width="150" height="60" icon-align="Right" icon="Star"></f:button>
            <br />
            <br />
            <f:button id="btnIcon3" text="图标在上面" width="150" height="60" icon-align="Top" icon="Email" css-class="marginr"></f:button>
            <f:button id="btnIcon4" text="图标在下面" width="150" height="60" icon-align="Bottom" icon="Star"></f:button>
            <br />
            <br />
            只有图片的按钮：
            <br />
            <br />
            <f:button id="Button1" icon-url="/res/images/16/1.png" width="50" height="40" css-class="marginr"></f:button>
            <f:button id="Button2" icon-url="/res/images/16/8.png" width="50" height="40"></f:button>
            <br />
            <br />
            大按钮：
            <br />
            <br />
            <f:button id="Button3" size="Large" text="图标在左侧" width="150" height="80" icon="Email" css-class="marginr"></f:button>
            <f:button id="Button4" size="Large" text="图标在右侧" width="150" height="80" icon-align="Right" icon="Star"></f:button>
            <br />
            <br />
            <f:button id="Button5" size="Large" text="图标在上面" width="150" height="80" icon-align="Top" icon="Email" css-class="marginr"></f:button>
            <f:button id="Button6" size="Large" text="图标在下面" width="150" height="80" icon-align="Bottom" icon="Star"></f:button>
            <br />
            <br />
            <hr />
            <br />
            <br />
            <f:button id="Button7" text="图标在左侧" width="150" height="60" icon-font="_Home" css-class="marginr"></f:button>
            <f:button id="Button8" text="图标在右侧" width="150" height="60" icon-align="Right" icon-font="_Car"></f:button>
            <br />
            <br />
            <f:button id="Button9" text="图标在上面" width="150" height="60" icon-align="Top" icon-font="_Camera" css-class="marginr"></f:button>
            <f:button id="Button10" text="图标在下面" width="150" height="60" icon-align="Bottom" icon-font="_Phone"></f:button>
            <br />
            <br />
            只有图片的按钮：
            <br />
            <br />
            <f:button id="Button11" icon-font="_Android" width="50" height="40" css-class="marginr"></f:button>
            <f:button id="Button12" icon-font="_Apple" width="50" height="40" css-class="marginr"></f:button>
            <br />
            <br />
            大按钮：
            <br />
            <br />
            <f:button id="Button15" size="Large" text="图标在左侧" width="150" height="80" icon-font="_Home" css-class="marginr"></f:button>
            <f:button id="Button16" size="Large" text="图标在右侧" width="150" height="80" icon-align="Right" icon-font="_Car"></f:button>
            <br />
            <br />
            <f:button id="Button17" size="Large" text="图标在上面" width="150" height="80" icon-align="Top" icon-font="_Camera" css-class="marginr"></f:button>
            <f:button id="Button18" size="Large" text="图标在下面" width="150" height="80" icon-align="Bottom" icon-font="_Phone"></f:button>
            <br />
            <br />

        </th:block>
    </body>

</html>
