<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · CalendarDisplayTime</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:calendar id="Calendar1" display-type="Time" show-today-button="false" on-date-select="Calendar1_DateSelect"></f:calendar>
            <br />
            <br />
            <f:button id="Button1" on-click="Button1_Click"></f:button>
            <br />
            <br />
            <f:label id="labResult" encode-text="false"></f:label>

        </th:block>
    </body>

</html>
