<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · LayoutPanelColumn</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:form id="Form1" is-fluid="true" message-target="Qtip" body-padding="10" title="表单">
                <f:items>
                    <f:panel id="Panel2" show-header="false" show-border="false" layout="Column">
                        <f:items>
                            <f:label id="Label2" width="100" css-class="marginr" show-label="false" text="用户名："></f:label>
                            <f:text-box id="TextBox2" show-label="false" label="用户名" required="true" width="150" css-class="marginr"></f:text-box>
                            <f:button id="Button3" text="按钮一" css-class="marginr"></f:button>
                            <f:button id="Button4" text="按钮二"></f:button>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel1" show-header="false" show-border="false" layout="Column">
                        <f:items>
                            <f:label id="Label1" width="100" css-class="marginr" show-label="false" text="作息起止时间："></f:label>
                            <f:date-picker id="DatePicker1" show-label="false" label="作息开始时间" required="true" css-class="marginr" width="150"></f:date-picker>
                            <f:date-picker id="DatePicker2" show-label="false" label="作息结束时间" required="true" compare-control="DatePicker1"
                                compare-operator="GreaterThan" compare-message="结束日期应该大于开始日期！" width="150"></f:date-picker>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel3" show-header="false" show-border="false" layout="Column">
                        <f:items>
                            <f:label id="Label3" width="100" css-class="marginr" show-label="false" text="上班起止时间："></f:label>
                            <f:date-picker id="DatePicker3" show-label="false" label="上班开始时间" required="true" css-class="marginr"
                                column-width="50%"></f:date-picker>
                            <f:date-picker id="DatePicker4" show-label="false" label="上班结束时间" required="true" compare-control="DatePicker3"
                                compare-operator="GreaterThan" compare-message="结束日期应该大于开始日期！" column-width="50%"></f:date-picker>
                        </f:items>
                    </f:panel>
                    <f:panel id="Panel4" show-header="false" show-border="false" layout="Column">
                        <f:items>
                            <f:label id="Label4" width="100" css-class="marginr" show-label="false" text="工作时间："></f:label>
                            <f:text-box width="40" show-label="false" label="工作时间（小时）" required="true"></f:text-box>
                            <f:label text="小时" margin-left="5" margin-right="10"></f:label>
                            <f:text-box width="40" show-label="false" label="工作时间（分钟）" required="true" id="TextBox3"></f:text-box>
                            <f:label id="Label6" text="分钟" margin-left="5"></f:label>
                        </f:items>
                    </f:panel>
                    <f:button id="Button1" text="提交表单" validate-forms="Form1" validate-message-box="true" on-click="btnSubmit_Click"></f:button>
                </f:items>
            </f:form>
            <br />
            注意：
            <ul>
                <li>表单字段的 ShowLabel=false，表单验证失败的对话框消息中用到了 Label 属性。</li>
                <li>表单验证失败的错误提示类型是 Qtip，而不是默认的 Side。</li>
            </ul>

        </th:block>
    </body>

</html>
