<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · LayoutCenterButton</title>

        <style>
            .f-panel.mypanel {
                padding-top: 10px;
                margin-top: 10px;
                border-left-width: 0;
                border-right-width: 0;
                border-bottom-width: 0;
                border-radius: 0;
            }

        </style>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:form is-fluid="true" body-padding="10" id="Form1" label-width="100" enable-collapse="false" title="表单">
                <f:rows>
                    <f:form-row column-widths="40% 60%" css-class="FormRow1">
                        <f:items>
                            <f:label id="Label1" label="标签" text="标签的值"></f:label>
                            <f:check-box id="CheckBox1" text="复选框" label="复选框"></f:check-box>
                        </f:items>
                    </f:form-row>
                    <f:form-row column-widths="40% 60%">
                        <f:items>
                            <f:drop-down-list id="DropDownList1" label="下拉列表" empty-text="请选择一项" required="true" show-red-star="true"
                                auto-select-first-item="false">
                                <f:list-item text="可选项 1" value="0"></f:list-item>
                                <f:list-item text="可选项 2" value="1"></f:list-item>
                            </f:drop-down-list>
                            <f:text-box id="TextBox1" show-red-star="true" label="文本框" required="true" text=""></f:text-box>
                        </f:items>
                    </f:form-row>
                    <f:form-row>
                        <f:items>
                            <f:panel id="Panel1" show-border="true" css-class="mypanel" show-header="false" layout="HBox" box-config-position="Center"
                                box-config-child-margin="0 5 0 0" box-config-last-child-margin="0">
                                <f:items>
                                    <f:button text="验证此表单并提交" validate-forms="Form1" id="btnSubmit" on-click="btnSubmit_Click"></f:button>
                                    <f:button id="btnResetForm1" text="重置表单" click-handler="onResetClick"></f:button>
                                </f:items>
                            </f:panel>
                        </f:items>
                    </f:form-row>
                </f:rows>
            </f:form>

        </th:block>
        <th:block layout:fragment="script">
            <script>
                function onResetClick(event) {
                    F.ui.Form1.reset();
                }

            </script>
        </th:block>
    </body>

</html>
