<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 复选框（启用级联选择）</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:tree id="Tree1" is-fluid="true" show-header="true" title="树控件" enable-check-box="true" cascade-check="true">
                <f:nodes>
                    <f:tree-node text="中国" expanded="true" node-id="china">
                        <f:tree-node text="河南省" expanded="true" node-id="henan">
                            <f:tree-node text="驻马店市" node-id="zhumadian">
                                <f:tree-node text="遂平县" node-id="suiping"></f:tree-node>
                                <f:tree-node text="西平县" node-id="xiping"></f:tree-node>
                            </f:tree-node>
                            <f:tree-node text="漯河市" node-id="luohe"></f:tree-node>
                        </f:tree-node>
                        <f:tree-node text="安徽省" expanded="true" node-id="anhui">
                            <f:tree-node text="合肥市" node-id="hefei"></f:tree-node>
                            <f:tree-node text="黄山市" node-id="huangshan"></f:tree-node>
                        </f:tree-node>
                    </f:tree-node>
                </f:nodes>
            </f:tree>
            <br />

            <f:button id="btnGetCheckedValues" text="获取选中的复选框" on-click="btnGetCheckedValues_Click"></f:button>
            <br />

            <f:label id="labResult" encode-text="false"></f:label>

        </th:block>
    </body>

</html>
