<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 自定义解析 XML</title>
        <!--/* 声明本页引用的其它源文件（分号分隔，每项写成 前缀:值，前缀有 route/template/class/res 四种，见 SourceFiles）：首页"查看源代码"把它们也渲染为选项卡 */-->
        <meta name="sourcefiles" content="res:data/tree/website.xml" />
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:tree id="Tree1" is-fluid="true" show-header="true" title="树控件（点击树节点回发）" on-node-click="Tree1_NodeClick"></f:tree>

            <f:label id="labResult" encode-text="false"></f:label>

            <br />
            <br />
            注：从 XML 文档手工创建节点列表，并将 Xml 节点属性 Highlight 转化为树节点的 CssClass 属性。

        </th:block>
    </body>

</html>
