<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · Accordion</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:accordion id="Accordion1" show-header="false" show-border="false" active-pane-index="1" is-view-port="true">
                <f:toolbars>
                    <f:toolbar id="Toolbar1" title="手风琴控件" header-style="true"></f:toolbar>
                </f:toolbars>
                <f:panes>
                    <f:accordion-pane id="AccordionPane1" title="面板一" icon-url="/res/images/16/1.png" body-padding="2px 5px">
                        <f:items>
                            <f:label id="Label1" text="面板一中的文本"></f:label>
                        </f:items>
                    </f:accordion-pane>
                    <f:accordion-pane id="AccordionPane2" title="面板二（列表）" icon-url="/res/images/16/4.png" layout="Fit">
                        <f:items>
                            <f:data-list id="DataList1">
                                <f:data-list-item text="列表项1" />
                                <f:data-list-item text="列表项2" />
                                <f:data-list-item text="列表项3" />
                                <f:data-list-item text="列表项4" />
                                <f:data-list-item text="列表项5" />
                            </f:data-list>
                        </f:items>
                    </f:accordion-pane>
                    <f:accordion-pane id="AccordionPane3" title="面板三（IFrame）" icon-url="/res/images/16/7.png" enable-iframe="true"
                        iframe-url="/mobile/button/button"></f:accordion-pane>
                </f:panes>
            </f:accordion>

        </th:block>
    </body>

</html>
