<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · DataModel 复杂列客户端</title>
        <!--/* 声明本页引用的其它源文件（分号分隔，每项写成 前缀:值，前缀有 route/template/class/res 四种，见 SourceFiles）：首页"查看源代码"把它们也渲染为选项卡 */-->
        <meta name="sourcefiles"
            content="class:com.fineui.java.examples.datamodel.model.Student;class:com.fineui.java.examples.datamodel.model.Family;class:com.fineui.java.examples.datamodel.model.StudentExtended;class:com.fineui.java.examples.datamodel.model.StudentHelper" />
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格" row-type-from="students" data-id-field="id"
                data-text-field="name">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field for="name"></f:render-field>
                    <f:render-field for="gender" renderer-function="renderGender"></f:render-field>
                    <f:render-field for="entranceYear"></f:render-field>
                    <f:render-check-field for="atSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field for="major" renderer-function="renderMajor" width="150"></f:render-field>
                    <f:render-field for="familyObject" renderer-function="renderFamily" width="220"></f:render-field>
                    <f:render-field for="hobbyArray" renderer-function="renderHobby" expand-unused-space="true" min-width="150"></f:render-field>
                </f:columns>
            </f:grid>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script>
                function renderFamily(value) {
                    return value ? '父亲: ' + value.daddy + ', 母亲: ' + value.mommy : '';
                }

                function renderHobby(value) {
                    var names = {
                        reading: '读书',
                        basketball: '篮球',
                        travel: '旅游',
                        movie: '电影',
                        music: '音乐'
                    };
                    return (value || []).map(function(item) {
                        return names[item] || item;
                    }).join(', ');
                }

            </script>
        </th:block>
    </body>

</html>
