<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · DataModel 枚举值</title>
        <!--/* 声明本页引用的其它源文件（分号分隔，每项写成 前缀:值，前缀有 route/template/class/res 四种，见 SourceFiles）：首页"查看源代码"把它们也渲染为选项卡 */-->
        <meta name="sourcefiles"
            content="class:com.fineui.java.examples.datamodel.model.Student;class:com.fineui.java.examples.datamodel.model.Status;class:com.fineui.java.examples.datamodel.model.StudentHelper" />
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格" row-type-from="students" data-id-field="id"
                data-text-field="name">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field for="name"></f:render-field>
                    <f:render-field for="gender" renderer-function="renderGender"></f:render-field>
                    <f:render-field for="entranceYear"></f:render-field>
                    <f:render-check-field for="atSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field for="major" renderer-function="renderMajor" expand-unused-space="true" min-width="150"></f:render-field>
                    <f:render-field for="group" renderer-function="renderGroup"></f:render-field>
                    <f:render-field for="entranceDate"></f:render-field>
                    <f:render-field for="currentStatus"></f:render-field>
                    <f:render-field for="currentStatusDisplay"></f:render-field>
                </f:columns>
            </f:grid><br /><br />
            <f:button text="选中了哪些行" click-handler="onNotifySelectedRowsClick"></f:button>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
        </th:block>
    </body>

</html>
