<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 跨 IFrame 传值（纯脚本）</title>
        <!--/* 声明本页引用的其它源文件（分号分隔，每项写成 前缀:值，前缀有 route/template/class/res 四种，见 SourceFiles）：首页"查看源代码"把它们也渲染为选项卡 */-->
        <meta name="sourcefiles" content="route:iframe/pass-value-script/iframe-window" />
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:simple-form id="SimpleForm1" is-fluid="true" title="表单" body-padding="10" enable-collapse="false">
                <f:items>
                    <f:text-box id="tbxProvince" label="你所在的省份" text="安徽"></f:text-box>
                    <f:button id="Button1" text="从列表中选择" click-handler="onButton1Click"></f:button>
                </f:items>
            </f:simple-form>

            <f:window id="Window1" title="编辑" hidden="true" enable-iframe="true" enable-maximize="true" enable-resize="true" target="Parent" is-modal="true"
                width="562" height="470" on-close="Window1_Close">
            </f:window>

        </th:block>
        <th:block layout:fragment="script">
            <script>
                function onButton1Click(event) {
                    var url = F.resolveUrl('/iframe/pass-value-script/iframe-window');
                    var openUrl = F.formatString("{0}?selected={1}", url, F.urlEncode(F.ui.tbxProvince.getValue()));

                    F.ui.Window1.show(openUrl);
                }

                function updateProvince(val) {
                    F.ui.tbxProvince.setValue(val);
                }

            </script>
        </th:block>
    </body>

</html>
