<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · IFrame 窗体</title>
        <!--/* 声明本页引用的其它源文件（分号分隔，每项写成 前缀:值，前缀有 route/template/class/res 四种，见 SourceFiles）：首页"查看源代码"把它们也渲染为选项卡 */-->
        <meta name="sourcefiles" content="route:iframe/window/iframe-window" />
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:button id="Button1" text="弹出窗体" click-handler="onOpenWindow1Click"></f:button>
            <f:button id="btnUpdateIFrameTitle" text="服务端更新 IFrame 标题"
                on-click="btnUpdateIFrameTitle_Click"></f:button>
            <f:window id="Window1" hidden="true" enable-iframe="true" target="Top" iframe-url="/iframe/window/iframe-window" enable-maximize="true"
                enable-resize="true" height="500" width="800" title="窗体一">
                <f:iframe-attributes>
                    <f:iframe-attribute key="title" value="窗体内的编辑页面"></f:iframe-attribute>
                    <f:iframe-attribute key="sandbox" value="allow-scripts allow-forms allow-modals"></f:iframe-attribute>
                    <f:iframe-attribute key="referrerpolicy" value="no-referrer"></f:iframe-attribute>
                </f:iframe-attributes>
            </f:window>
            <br />
            注：title、sandbox 和 referrerpolicy 设置在窗体内部的 iframe 元素上，不改变页面外观。打开浏览器开发者工具查看 Window1 下的 iframe；点击服务端更新按钮后，title 会由“窗体内的编辑页面”变为“服务端已更新标题”，其他属性保留。
            <br /><br />

            页面加载时间：<span th:text="${page.loadTime}">00:00:00</span>

        </th:block>
        <th:block layout:fragment="script">
            <script>
                function onOpenWindow1Click(event) {
                    F.ui.Window1.show();
                }

            </script>
        </th:block>
    </body>

</html>
