<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 树表格（延迟加载）</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="树表格" data-id-field="Id" data-text-field="Name"
                data-parent-id-field="ParentId" enable-tree="true" tree-column="Name" row-data-bound-function="onGrid1RowDataBound"
                on-row-lazy-load="Grid1_RowLazyLoad">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field column-id="Name" header-text="名称" data-field="Name" expand-unused-space="true" min-width="150"></f:render-field>
                    <f:render-field header-text="类型" data-field="Type" width="150"></f:render-field>
                    <f:render-field header-text="大小" data-field="Size" width="150"></f:render-field>
                    <f:render-field header-text="修改日期" data-field="ModifyDate" field-type="Date" renderer="Date" renderer-argument="yyyy/MM/dd"
                        width="150"></f:render-field>
                </f:columns>
            </f:grid>
            <br />
            <f:button text="选中了哪些行" click-handler="onNotifySelectedRowsClick"></f:button>

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script>
                function onGrid1RowDataBound(rowData) {
                    // 显式把类型[文件夹]标记为非叶子节点（展开时延迟加载）
                    // 若不设置，则没有子节点的节点都会被默认当作叶子节点
                    var rowType = rowData.values.Type;
                    if (rowType === '文件夹') {
                        rowData.leaf = false;
                    }
                }

            </script>
        </th:block>
    </body>

</html>
