<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 树表格级联全选</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="树表格" data-id-field="Id" data-text-field="Name"
                data-parent-id-field="ParentId" enable-tree="true" tree-column="Name" enable-check-box-select="true" keep-current-selection="true"
                row-data-bound-function="onGrid1RowDataBound">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field column-id="Name" header-text="名称" data-field="Name" expand-unused-space="true" min-width="150"></f:render-field>
                    <f:render-field header-text="类型" data-field="Type" width="150"></f:render-field>
                    <f:render-field header-text="大小" data-field="Size" width="150"></f:render-field>
                    <f:render-field header-text="修改日期" data-field="ModifyDate" field-type="Date" renderer="Date" renderer-argument="yyyy/MM/dd"
                        width="150"></f:render-field>
                </f:columns>
                <f:listeners>
                    <f:listener event="rowselect" handler="onGridRowSelect"></f:listener>
                    <f:listener event="rowdeselect" handler="onGridRowDeselect"></f:listener>
                </f:listeners>
            </f:grid>
            <br />

            <f:button text="选中了哪些行" click-handler="onNotifySelectedRowsClick"></f:button>

            <br />
            <br />
            注：
            <ul>
                <li>本树表格默认展开 [basic] 和 [res] 两个目录</li>
                <li>注意表格属性：enable-check-box-select="true" keep-current-selection="true"</li>
                <li>表格客户端函数 selectRows 的第二个参数，用来指示是否保持现有选中项</li>
            </ul>

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script>
                // 行级初值：默认展开 basic(50) 与 res(60)
                function onGrid1RowDataBound(rowData) {
                    var rowId = rowData.id;

                    if (rowId === '50' || rowId === '60') {
                        rowData.expanded = true;
                    }
                }

                // 递归遍历节点 rowData 的所有子节点
                function resolveRowChildren(rowData, callback) {
                    var children = rowData.children;
                    if (children && children.length) {
                        for (var i = 0, count = children.length; i < count; i++) {
                            var item = children[i];
                            callback.apply(item);
                            resolveRowChildren(item, callback);
                        }
                    }
                }

                function onGridRowSelect(event, rowId) {
                    var grid = this,
                        rowData = grid.getRowData(rowId);

                    var rowIds = [];
                    resolveRowChildren(rowData, function() {
                        rowIds.push(this.id);
                    });

                    // 本过程中不触发事件
                    F.noEvent(function() {
                        // keep:true 保持现有选中项
                        grid.selectRows(rowIds, {
                            keep: true
                        });
                    });
                }

                function onGridRowDeselect(event, rowId) {
                    var grid = this,
                        rowData = grid.getRowData(rowId);

                    var rowIds = [];
                    resolveRowChildren(rowData, function() {
                        rowIds.push(this.id);
                    });

                    // 本过程中不触发事件
                    F.noEvent(function() {
                        grid.deselectRows(rowIds);
                    });
                }

            </script>
        </th:block>
    </body>

</html>
