<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · CheckBoxListItemDataBound</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:simple-form id="SimpleForm1" is-fluid="true" label-width="160" body-padding="10" show-border="true" show-header="true" title="简单表单">
                <f:items>
                    <f:check-box-list id="CheckBoxList1" label="列表一">
                        <f:check-item text="可选项 1" value="value1"></f:check-item>
                        <f:check-item text="可选项 2" value="value2" selected="true"></f:check-item>
                        <f:check-item text="可选项 3" value="value3" selected="true"></f:check-item>
                    </f:check-box-list>
                    <f:check-box-list id="CheckBoxList2" label="列表二（一列）" column-number="1" on-item-data-bound="CheckBoxList2_ItemDataBound"></f:check-box-list>
                </f:items>
                <f:toolbars>
                    <f:toolbar position="Bottom" toolbar-align="Right">
                        <f:items>
                            <f:button id="btnSubmit" validate-forms="SimpleForm1" text="提交表单" on-click="btnSubmit_Click"></f:button>
                        </f:items>
                    </f:toolbar>
                </f:toolbars>
            </f:simple-form>
            <br />
            注：通过列表项绑定事件，可以动态设置每一项的属性（本例为每个列表项增加提示信息）。

        </th:block>
    </body>

</html>
