<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · FileUploadFileSelected</title>

        <style>
            .photo {
                height: 150px;
                line-height: 150px;
                overflow: hidden;
            }

            .photo img {
                height: 150px;
                vertical-align: middle;
            }

        </style>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:simple-form id="SimpleForm1" is-fluid="true" body-padding="10" enable-collapse="false" show-border="true" title="表单" show-header="true">
                <f:items>
                    <f:image id="imgPhoto" css-class="photo" image-url="/res/images/blank.png" show-empty-label="true"></f:image>
                    <f:file-upload id="filePhoto" show-red-star="false" show-empty-label="true" button-text="上传个人头像" button-only="true" required="false"
                        button-icon="ImageAdd" on-file-selected="filePhoto_FileSelected"></f:file-upload>
                    <f:text-box id="tbxUserName" label="用户名" required="true" show-red-star="true"></f:text-box>
                    <f:text-box id="tbxEmail" label="邮箱" required="true" regex-pattern="EMAIL" regex-message="请输入有效的邮箱地址" show-red-star="true"></f:text-box>
                    <f:button id="btnSubmit" validate-forms="SimpleForm1" text="提交表单" on-click="btnSubmit_Click"></f:button>
                </f:items>
            </f:simple-form>
            <br />
            <f:label id="labResult" encode-text="false"></f:label>

        </th:block>
    </body>

</html>
