<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · Form</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:form id="Form1" is-fluid="true" body-padding="10" label-width="100" enable-collapse="false" title="表单 1" red-star-position="AfterText">
                <f:items>
                    <f:form-row>
                        <f:items>
                            <f:label id="Label1" label="标签" text="标签的值"></f:label>
                            <f:check-box id="CheckBox1" text="复选框" label="复选框" required="true"></f:check-box>
                        </f:items>
                    </f:form-row>
                    <f:form-row>
                        <f:items>
                            <f:check-box id="CheckBox2" text="复选框" label="复选框" display-type="Switch" required="true"></f:check-box>
                            <f:radio-button id="RadioButton1" text="单选框" label="单选框" required="true"></f:radio-button>
                        </f:items>
                    </f:form-row>
                    <f:form-row column-widths="50% 50%">
                        <f:items>
                            <f:drop-down-list id="DropDownList1" required="true" show-red-star="true" auto-select-first-item="false" label="下拉列表">
                                <f:items>
                                    <f:list-item text="可选项 1" value="0"></f:list-item>
                                    <f:list-item text="可选项 2" value="2"></f:list-item>
                                    <f:list-item text="可选项 3" value="3"></f:list-item>
                                    <f:list-item text="可选项 4" value="4"></f:list-item>
                                    <f:list-item text="可选项 5" value="5"></f:list-item>
                                    <f:list-item text="可选项 6" value="6"></f:list-item>
                                    <f:list-item text="可选项 7" value="7"></f:list-item>
                                    <f:list-item text="可选项 8" value="8"></f:list-item>
                                </f:items>
                            </f:drop-down-list>
                            <f:text-box id="TextBox1" show-red-star="true" label="文本框" required="true" text=""></f:text-box>
                        </f:items>
                    </f:form-row>
                    <f:form-row>
                        <f:items>
                            <f:panel id="Panel1" show-border="false" show-header="false">
                                <f:items>
                                    <f:button id="btnSubmitForm1" text="验证此表单并提交" css-class="marginr" validate-forms="Form1" on-click="btnSubmitForm1_Click">
                                    </f:button>
                                </f:items>
                            </f:panel>
                        </f:items>
                    </f:form-row>
                </f:items>
            </f:form>
            <br />

            <f:form id="Form2" is-fluid="true" label-width="100" body-padding="10" enable-collapse="false" title="表单 2">
                <f:items>
                    <f:form-row>
                        <f:items>
                            <f:label id="Label3" label="电话" text="0551-1234567"></f:label>
                            <f:label id="Label16" label="申请人" text="admin"></f:label>
                        </f:items>
                    </f:form-row>
                    <f:form-row>
                        <f:items>
                            <f:label id="Label4" label="编号" text="200804170006"></f:label>
                            <f:text-box id="TextBox2" required="true" show-red-star="true" label="电子邮箱" regex-pattern="EMAIL"
                                regex-message="请输入有效的邮箱地址"></f:text-box>
                        </f:items>
                    </f:form-row>
                    <f:form-row>
                        <f:items>
                            <f:drop-down-list id="DropDownList3" label="审批人" required="true" show-red-star="true" empty-text="请选择审批人"
                                auto-select-first-item="false">
                                <f:items>
                                    <f:list-item text="老大甲" value="0"></f:list-item>
                                    <f:list-item text="老大乙" value="1"></f:list-item>
                                    <f:list-item text="老大丙" value="2"></f:list-item>
                                    <f:list-item text="老大丁" value="3"></f:list-item>
                                    <f:list-item text="老大午" value="4"></f:list-item>
                                    <f:list-item text="老大己" value="5"></f:list-item>
                                </f:items>
                            </f:drop-down-list>
                        </f:items>
                    </f:form-row>
                    <f:form-row>
                        <f:items>
                            <f:number-box id="NumberBox1" label="申请数量" no-decimal="true" no-negative="true" max-value="1000" required="true"
                                show-red-star="true"></f:number-box>
                        </f:items>
                    </f:form-row>
                    <f:form-row>
                        <f:items>
                            <f:text-area id="TextArea1" label="描述" show-red-star="true" required="true"></f:text-area>
                        </f:items>
                    </f:form-row>
                    <f:form-row>
                        <f:items>
                            <f:panel id="Panel2" show-border="false" show-header="false">
                                <f:items>
                                    <f:button id="btnSubmitForm2" text="验证此表单并提交" css-class="marginr" validate-forms="Form2" on-click="btnSubmitForm2_Click">
                                    </f:button>
                                </f:items>
                            </f:panel>
                        </f:items>
                    </f:form-row>
                </f:items>
            </f:form>
            <br />
            <f:button id="btnSubmitAll" text="验证两个表单并提交" css-class="marginr" validate-forms="Form1,Form2" on-click="btnSubmitForm_Click"></f:button>

        </th:block>
    </body>

</html>
