<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · NumberBox 前后缀</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:simple-form id="SimpleForm1" is-fluid="true" body-padding="10" label-align="Top" enable-collapse="false" title="简单表单" label-width="120">
                <f:items>
                    <f:number-box label="人民币" id="NumberBox1" no-decimal="true" no-negative="true" value="3000000" enable-commas="true" required="true"
                        show-red-star="true" number-prefix="￥"></f:number-box>
                    <f:number-box label="美元" id="NumberBox2" no-decimal="true" no-negative="true" value="100000" enable-commas="true" required="true"
                        show-red-star="true" number-prefix="$"></f:number-box>
                    <f:number-box label="百分比" id="NumberBox3" no-negative="true" value="42.567" decimal-precision="2" required="true" show-red-star="true"
                        number-suffix="%"></f:number-box>
                    <f:button id="btnSubmit" validate-forms="SimpleForm1" text="提交表单" on-click="btnSubmit_Click"></f:button>
                </f:items>
            </f:simple-form>
            <br />
            <f:label id="labResult" encode-text="false"></f:label>

        </th:block>
    </body>

</html>
