<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · NumberBox 自定义分隔符</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:simple-form id="SimpleForm1" is-fluid="true" body-padding="10" label-align="Top" enable-collapse="false" title="简单表单" label-width="120">
                <f:items>
                    <f:number-box label="小数" id="NumberBox1" value="-123456789.2345" enable-commas="true" required="true" show-red-star="true"
                        decimal-precision="2" comma-separator="'"></f:number-box>
                    <f:number-box label="正整数" id="NumberBox2" no-decimal="true" no-negative="true" value="987654321" enable-commas="true" show-trigger="false"
                        comma-separator=" "></f:number-box>
                    <f:button id="btnSubmit" validate-forms="SimpleForm1" text="提交表单" on-click="btnSubmit_Click"></f:button>
                </f:items>
            </f:simple-form>
            <br />
            <f:label id="labResult" encode-text="false"></f:label>

        </th:block>
    </body>

</html>
