<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 红星位置</title>
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:simple-form id="SimpleForm1" is-fluid="true" title="表单" show-border="true" body-padding="10" show-header="true">
                <f:items>
                    <f:text-box id="tbxUserName" label="用户名" required="true" show-red-star="true"></f:text-box>
                    <f:text-box id="tbxPassword" label="密码" text-mode="Password" required="true" show-red-star="true"></f:text-box>
                </f:items>
                <f:toolbars>
                    <f:toolbar id="Toolbar1" toolbar-align="Right" position="Bottom">
                        <f:items>
                            <f:button id="btnLogin" text="登录" type="Button" validate-forms="SimpleForm1" validate-target="Top" on-click="btnLogin_Click">
                            </f:button>
                        </f:items>
                    </f:toolbar>
                </f:toolbars>
            </f:simple-form>
            <br /><br />
            <f:simple-form id="SimpleForm2" is-fluid="true" title="表单(RedStarPosition=BeforeText LabelAlign=Right)" show-border="true" body-padding="10"
                show-header="true" red-star-position="BeforeText" label-align="Right">
                <f:items>
                    <f:text-box id="TextBox1" label="用户名" required="true" show-red-star="true"></f:text-box>
                    <f:text-box id="TextBox2" label="密码" text-mode="Password" required="true" show-red-star="true"></f:text-box>
                </f:items>
                <f:toolbars>
                    <f:toolbar id="Toolbar2" toolbar-align="Right" position="Bottom">
                        <f:items>
                            <f:button id="btnLogin2" text="登录" type="Button" validate-forms="SimpleForm2" validate-target="Top" on-click="btnLogin2_Click">
                            </f:button>
                        </f:items>
                    </f:toolbar>
                </f:toolbars>
            </f:simple-form>
            <br /><br />
            <f:simple-form id="SimpleForm3" is-fluid="true" title="表单(RedStarPosition=AfterSeparator)" show-border="true" body-padding="10" show-header="true"
                red-star-position="AfterSeparator">
                <f:items>
                    <f:text-box id="TextBox3" label="用户名" required="true" show-red-star="true"></f:text-box>
                    <f:text-box id="TextBox4" label="密码" text-mode="Password" required="true" show-red-star="true"></f:text-box>
                </f:items>
                <f:toolbars>
                    <f:toolbar id="Toolbar3" toolbar-align="Right" position="Bottom">
                        <f:items>
                            <f:button id="btnLogin3" text="登录" type="Button" validate-forms="SimpleForm3" validate-target="Top" on-click="btnLogin3_Click">
                            </f:button>
                        </f:items>
                    </f:toolbar>
                </f:toolbars>
            </f:simple-form>
        </th:block>
    </body>

</html>
