<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · ToolTip</title>
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:label id="Label1" text="中国科学技术大学" tool-tip-title="中国科学技术大学" tool-tip="中国科学技术大学是中国科学院所属的一所以前沿科学和高新技术为主、兼有特色管理和人文学科的综合性全国重点大学。"></f:label>
            <br />
            <f:hyperlink id="HyperLink1" text="中国科学技术大学" tool-tip="1958年9月创建于北京，首任校长由郭沫若兼任。" tool-tip-title="中国科学技术大学" target="_blank"
                navigate-url="http://www.ustc.edu.cn/"></f:hyperlink>
            <br />
            <f:image id="Image1" icon="World" tool-tip="这是一张象征地球的图片"></f:image>
            <br />
            <f:image id="Image2" image-width="32" image-height="32" image-css-style="border:solid 1px #ccc;padding:5px;"
                image-url="/res/images/logo/favicon.ico" tool-tip-auto-hide="false" tool-tip-title="不会自动消失的提示框" tool-tip="这个提示不会自动消失，点击其他地方才会消失"></f:image>
        </th:block>
    </body>

</html>
