<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · TwinTriggerBox 清除图标</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:simple-form id="SimpleForm1" is-fluid="true" body-padding="10" enable-collapse="false" title="表单" show-header="true">
                <f:items>
                    <f:twin-trigger-box id="TwinTriggerBox1" show-label="false" trigger1-icon="Clear" show-trigger1="false" empty-text="搜索用户名"
                        trigger2-icon="Search" on-trigger1-click="TwinTriggerBox1_Trigger1Click" on-trigger2-click="TwinTriggerBox1_Trigger2Click"
                        auto-show-clear-icon="true">
                        <f:listeners>
                            <f:listener event="change" handler="onTwinTriggerBox1Change"></f:listener>
                        </f:listeners>
                    </f:twin-trigger-box>
                </f:items>
            </f:simple-form>

        </th:block>
        <th:block layout:fragment="script">
            <script>
                var __lastTriggerBoxValue;
                var __changeTimer;

                function onTwinTriggerBox1Change(event) {
                    if (__changeTimer) {
                        window.clearTimeout(__changeTimer);
                        __changeTimer = undefined;
                    }
                    __changeTimer = window.setTimeout(postBackTriggerBoxChange, 1000);
                }

                function postBackTriggerBoxChange() {
                    var value = F.ui.TwinTriggerBox1.getValue();
                    if (value !== __lastTriggerBoxValue) {
                        __lastTriggerBoxValue = value;
                        F.customEvent('TwinTriggerBox1_Change');
                    }
                }

                function updateLastTriggerBoxValue(text) {
                    __lastTriggerBoxValue = text;
                }

                F.ready(function() {
                    __lastTriggerBoxValue = F.ui.TwinTriggerBox1.getValue();
                });

            </script>
        </th:block>
    </body>

</html>
