<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 网址数据源 · 切换数据源（数据库分页）</title>
        <!--/* 声明本页引用的其它源文件（分号分隔，每项写成 前缀:值，前缀有 route/template/class/res 四种，见 SourceFiles）：首页"查看源代码"把它们也渲染为选项卡 */-->
        <meta name="sourcefiles" content="class:com.fineui.java.examples.gridurl.GridDataUrlDataController" />
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格" data-id-field="Id" data-text-field="Name"
                data-url="/grid-data-url/paging-database-data" allow-paging="true" is-database-paging="true" page-size="5">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" data-field="Name"></f:render-field>
                    <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                    <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="分组" data-field="Group" renderer-function="renderGroup"></f:render-field>
                </f:columns>
            </f:grid>
            <br />
            <br />

            <f:button id="Button1" text="切换网址数据源" css-class="marginr" click-handler="onButton1Click"></f:button>

            <f:button id="Button2" text="切换网址数据源（服务器端）" css-class="marginr" on-click="Button2_Click"></f:button>

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script th:inline="none">
                function onButton1Click(event) {
                    var grid1 = F.ui.Grid1;

                    // 重置为第一页
                    grid1.setPageIndex(0);

                    var sourceKey = grid1.getAttr('data-source-key');
                    if (sourceKey && sourceKey === 'source2') {
                        grid1.setAttr('data-source-key', 'source1')
                        grid1.loadDataUrl('/grid-data-url/paging-database-data');
                    } else {
                        grid1.setAttr('data-source-key', 'source2')
                        grid1.loadDataUrl('/grid-data-url/paging-database-data?data2=true');
                    }
                }

            </script>
        </th:block>
    </body>

</html>
