<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 合计行（当前页合计）</title>
        <!--/* 声明本页引用的其它源文件（分号分隔，每项写成 前缀:值，前缀有 route/template/class/res 四种，见 SourceFiles）：首页"查看源代码"把它们也渲染为选项卡 */-->
        <meta name="sourcefiles" content="class:com.fineui.java.examples.gridurl.GridDataUrlDataController" />

        <style>
            .f-grid-row-summary .f-grid-cell-text {
                font-weight: bold;
                color: red;
            }

        </style>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格" data-id-field="Id" data-text-field="Name"
                data-url="/grid-data-url/paging-summary-current-page-data" allow-paging="true" is-database-paging="false" page-size="5" enable-summary="true"
                summary-position="Bottom" height="350">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" data-field="Name"></f:render-field>
                    <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                    <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="学费" column-id="Fee" data-field="Fee"></f:render-field>
                    <f:render-field header-text="学杂费" column-id="ExtraFee" data-field="ExtraFee"></f:render-field>
                </f:columns>
                <f:listeners>
                    <f:listener event="dataload" handler="onGrid1DataLoad"></f:listener>
                </f:listeners>
            </f:grid>
            <br />
            <br />

            <f:button text="选中了哪些行" click-handler="onNotifySelectedRowsClick"></f:button>

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script th:inline="none">
                // 数据加载完成：按当前页数据重算 Fee/ExtraFee 合计并刷新合计行
                function onGrid1DataLoad(event) {
                    var grid1 = this;

                    var feeTotal = 0,
                        extraFeeTotal = 0;
                    var startRowIndex = grid1.getStartRowIndex(),
                        endRowIndex = grid1.getEndRowIndex();
                    for (var i = startRowIndex; i <= endRowIndex; i++) {
                        var rowData = grid1.data[i];
                        feeTotal += rowData.values['Fee'];
                        extraFeeTotal += rowData.values['ExtraFee'];
                    }

                    grid1.setSummaryData({
                        'Fee': feeTotal,
                        'ExtraFee': extraFeeTotal
                    });
                }

            </script>
        </th:block>
    </body>

</html>
