<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 网址数据源 · 树表格延迟加载</title>
        <!--/* 声明本页引用的其它源文件（分号分隔，每项写成 前缀:值，前缀有 route/template/class/res 四种，见 SourceFiles）：首页"查看源代码"把它们也渲染为选项卡 */-->
        <meta name="sourcefiles" content="class:com.fineui.java.examples.gridurl.GridDataUrlDataController" />
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="树表格" data-id-field="Id" data-text-field="Name" enable-tree="true"
                tree-column="Name" data-parent-id-field="ParentId" data-url="/grid-data-url/tree-grid-lazy-load-data"
                row-data-bound-function="onGrid1RowDataBound">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field column-id="Name" header-text="名称" data-field="Name" expand-unused-space="true" min-width="150"></f:render-field>
                    <f:render-field header-text="类型" data-field="Type" width="150"></f:render-field>
                    <f:render-field header-text="大小" data-field="Size" width="150"></f:render-field>
                    <f:render-field header-text="修改日期" data-field="ModifyDate" field-type="Date" renderer="Date" renderer-argument="yyyy/MM/dd"
                        width="150"></f:render-field>
                </f:columns>
            </f:grid>
            <br />

            <f:button text="选中了哪些行" click-handler="onNotifySelectedRowsClick"></f:button>

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script th:inline="none">
                function onGrid1RowDataBound(rowData) {

                    // 显式设置类型[文件夹]为非叶子节点（展开时延迟加载）
                    // 如果不如此设置，则没有子节点的节点都被默认作为叶子节点
                    var rowType = rowData.values.Type;
                    if (rowType === '文件夹') {
                        rowData.leaf = false;
                    }
                }

            </script>
        </th:block>
    </body>

</html>
