<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 编辑框（复选框）</title>
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格" data-id-field="Id" data-text-field="Name">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" data-field="Name"></f:render-field>
                    <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                    <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="爱好" data-field="Hobby" renderer-function="renderHobby" width="300"></f:render-field>
                </f:columns>
            </f:grid>
            <br /><br />
            <f:button id="Button1" text="获取用户输入的爱好" click-handler="onGetInputsClick"></f:button>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script>
                function renderHobby(value, params) {
                    var hobbies = value.split(',');
                    var checkedHtml = ' checked="checked" ';
                    var readingHtml = F.formatString('<label><input {0}value="reading" type="checkbox">读书</label>', $.inArray('reading', hobbies) >= 0 ?
                        checkedHtml : '');
                    var basketballHtml = F.formatString('<label><input {0}value="basketball" type="checkbox">篮球</label>', $.inArray('basketball', hobbies) >=
                        0 ? checkedHtml : '');
                    var travelHtml = F.formatString('<label><input {0}value="travel" type="checkbox">旅游</label>', $.inArray('travel', hobbies) >= 0 ?
                        checkedHtml : '');
                    var movieHtml = F.formatString('<label><input {0}value="movie" type="checkbox">电影</label>', $.inArray('movie', hobbies) >= 0 ? checkedHtml :
                        '');
                    var musicHtml = F.formatString('<label><input {0}value="music" type="checkbox">音乐</label>', $.inArray('music', hobbies) >= 0 ? checkedHtml :
                        '');
                    return F.formatString('<div class="mycheckboxlist">{0}</div>', readingHtml + basketballHtml + travelHtml + movieHtml + musicHtml);
                }

                var inputselector = '.mycheckboxlist input[type=checkbox]';

                function getUserInputs() {
                    var result = [];

                    var grid1 = F.ui.Grid1;
                    grid1.getRowEls().each(function() {
                        var rowEl = $(this);
                        var rowData = grid1.getRowData(rowEl);

                        var checkedValues = [];
                        rowEl.find(inputselector).filter(':checked').each(function() {
                            checkedValues.push($(this).val());
                        });

                        result.push([rowData.id, rowData.text, checkedValues]);
                    });

                    return F.toJSON(result);
                }

                function onGetInputsClick(event) {
                    F.customEvent('GetInputs', getUserInputs());
                }

            </script>
        </th:block>
    </body>

</html>
