<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 单元格编辑（结束编辑，姓名不能为空）</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格（双击编辑）" data-id-field="Id" data-text-field="Name"
                allow-cell-editing="true" clicks-to-edit="2" enable-check-box-select="true">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" column-id="Name" data-field="Name">
                        <f:editor>
                            <f:text-box id="tbxName"></f:text-box>
                        </f:editor>
                    </f:render-field>
                    <f:render-field header-text="性别" column-id="Gender" data-field="Gender" field-type="Int" renderer-function="renderGender">
                        <f:editor>
                            <f:drop-down-list id="ddlGender" required="true">
                                <f:list-item text="男" value="1"></f:list-item>
                                <f:list-item text="女" value="0"></f:list-item>
                            </f:drop-down-list>
                        </f:editor>
                    </f:render-field>
                    <f:render-field header-text="入学年份" column-id="EntranceYear" data-field="EntranceYear" field-type="Int">
                        <f:editor>
                            <f:number-box id="nbxEntranceYear" no-decimal="true" no-negative="true" min-value="2000" max-value="2025"></f:number-box>
                        </f:editor>
                    </f:render-field>
                    <f:render-field header-text="入学日期" column-id="EntranceDate" data-field="EntranceDate" field-type="Date" renderer="Date"
                        renderer-argument="yyyy/MM/dd" width="150">
                        <f:editor>
                            <f:date-picker id="dpEntranceDate" required="true"></f:date-picker>
                        </f:editor>
                    </f:render-field>
                    <f:render-check-field header-text="是否在校" column-id="AtSchool" data-field="AtSchool"></f:render-check-field>
                    <f:render-field header-text="所学专业" column-id="Major" data-field="Major" expand-unused-space="true" min-width="150">
                        <f:editor>
                            <f:text-box id="tbxMajor" required="true"></f:text-box>
                        </f:editor>
                    </f:render-field>
                    <f:render-field enable-header-menu="false">
                        <f:commands>
                            <f:command command-name="Delete" icon="Delete" confirm-text="删除选中行？" confirm-target="Top"></f:command>
                        </f:commands>
                    </f:render-field>
                </f:columns>
                <f:listeners>
                    <f:listener event="rowcommand" handler="onGrid1RowCommand"></f:listener>
                </f:listeners>
                <f:toolbars>
                    <f:toolbar>
                        <f:items>
                            <f:button id="btnNew" text="新增数据" icon="Add" click-handler="onNewClick"></f:button>
                            <f:button id="btnDelete" text="删除选中行" icon="Delete" click-handler="onDeleteClick"></f:button>
                            <f:toolbar-fill></f:toolbar-fill>
                            <f:button id="btnReset" text="重置表格数据" click-handler="onResetClick"></f:button>
                        </f:items>
                    </f:toolbar>
                </f:toolbars>
            </f:grid>

            <br>
            <f:button id="btnSubmit" text="保存数据" click-handler="onSubmitClick"></f:button>

            <br>
            <f:label id="labResult" encode-text="false"></f:label>

            <br>
            注：保存数据前，验证“姓名”不能为空（现有数据可以简单通过 required="true" 属性来控制，新增数据默认为空的话需要这个客户端验证）。

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script>
                function isValid() {
                    var grid1 = F.ui.Grid1;
                    var valid = true,
                        modifiedData = grid1.getModifiedData();

                    $.each(modifiedData, function(index, rowData) {

                        // rowData.id: 行ID
                        // rowData.status: 行状态（newadded, modified, deleted）
                        // rowData.values: 行中修改单元格对象，比如 { "Name": "刘国2", "Gender": 0, "EntranceYear": 2003 }
                        if (rowData.status === 'deleted') {
                            return true; // continue
                        }

                        var name = rowData.values['Name'];
                        // 更改了姓名列，并且为空字符串
                        if (typeof(name) != 'undefined' && $.trim(name) == '') {
                            F.alert({
                                message: '姓名不能为空！',
                                ok: function() {
                                    grid1.startEdit(rowData.id, 'Name');
                                }
                            });

                            valid = false;

                            return false; // break
                        }
                    });

                    return valid;
                }

                function onSubmitClick(event) {
                    var grid1 = F.ui.Grid1;

                    // 自定义验证是否通过
                    if (!isValid()) {
                        return;
                    }

                    // 触发后台事件
                    F.customEvent('Submit_Click');
                }

                function onNewClick(event) {
                    var grid1 = F.ui.Grid1;

                    // 新增一行（返回新增行的ID）
                    var addedRowId = grid1.addNewRecord({
                        'Name': '', // 默认设为空，保存之前会进行判断
                        'Gender': '1',
                        'EntranceYear': '2015',
                        'EntranceDate': '2016-11-15',
                        'AtSchool': false,
                        'Major': '化学系'
                    }, true);

                }

                function onResetClick(event) {
                    F.confirm({
                        message: '确定要重置表格数据？',
                        ok: function() {
                            F.ui.Grid1.rejectChanges();
                        }
                    });
                }

                function onDeleteClick(event) {
                    var grid1 = F.ui.Grid1;
                    if (!grid1.hasSelection()) {
                        F.alert('没有选中项！');
                        return;
                    }

                    var selectedRows = grid1.getSelectedRows();
                    F.confirm({
                        message: F.rawHtml('你确定要删除选中的&nbsp;<b>' + selectedRows.length + '</b>&nbsp;行数据吗？'),
                        target: '_top',
                        ok: function() {
                            grid1.deleteRows(selectedRows);
                        }
                    });
                }

                // 行命令
                function onGrid1RowCommand(event, rowId, rowIndex, columnId, commandName) {
                    if (commandName === 'Delete') {
                        F.ui.Grid1.deleteRow(rowId);
                    }
                }

            </script>
        </th:block>
    </body>

</html>
