<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 下拉表格（多选，分页，自定义编辑器设置函数，服务端数据）</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格（单击编辑）" data-id-field="Id" data-text-field="Name"
                allow-cell-editing="true" clicks-to-edit="1">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" column-id="Name" data-field="Name">
                        <f:editor>
                            <f:text-box id="tbxName" required="true"></f:text-box>
                        </f:editor>
                    </f:render-field>
                    <f:render-field header-text="性别" column-id="Gender" data-field="Gender" field-type="Int" renderer-function="renderGender">
                        <f:editor>
                            <f:drop-down-list id="ddlGender" required="true">
                                <f:list-item text="男" value="1"></f:list-item>
                                <f:list-item text="女" value="0"></f:list-item>
                            </f:drop-down-list>
                        </f:editor>
                    </f:render-field>
                    <f:render-field header-text="入学年份" column-id="EntranceYear" data-field="EntranceYear" field-type="Int">
                        <f:editor>
                            <f:number-box id="nbxEntranceYear" no-decimal="true" no-negative="true" min-value="2000" max-value="2025"></f:number-box>
                        </f:editor>
                    </f:render-field>
                    <f:render-field header-text="入学日期" column-id="EntranceDate" data-field="EntranceDate" field-type="Date" renderer="Date"
                        renderer-argument="yyyy/MM/dd" width="150">
                        <f:editor>
                            <f:date-picker id="dpEntranceDate" required="true"></f:date-picker>
                        </f:editor>
                    </f:render-field>
                    <f:render-check-field header-text="是否在校" column-id="AtSchool" data-field="AtSchool"></f:render-check-field>
                    <f:render-field header-text="兴趣爱好" column-id="Hobby" data-field="Hobby" expand-unused-space="true" min-width="150"
                        renderer-function="renderHobby" edit-setter-function="editSetterHobby" edit-getter-function="editGetterHobby">
                        <f:editor>
                            <f:drop-down-box id="DropDownBox1" empty-text="请选择" enable-multi-select="true" auto-show-clear-icon="true">
                                <f:pop-panel>
                                    <f:grid id="Grid2" show-border="true" show-header="false" enable-check-box-select="true" keep-current-selection="true"
                                        hidden="true" data-id-field="Code" data-text-field="Name" enable-multi-select="true" allow-paging="true" page-size="3"
                                        show-paging-message="false" paging-type="NumberButton">
                                        <f:columns>
                                            <f:row-number-field></f:row-number-field>
                                            <f:render-field column-id="Code" data-field="Code" header-text="代码"></f:render-field>
                                            <f:render-field column-id="Name" data-field="Name" header-text="姓名" expand-unused-space="true"></f:render-field>
                                        </f:columns>
                                    </f:grid>
                                </f:pop-panel>
                            </f:drop-down-box>
                        </f:editor>
                    </f:render-field>
                    <f:render-field column-id="HobbyText" data-field="HobbyText" hidden="true"></f:render-field>
                </f:columns>
            </f:grid>

            <br>
            <f:button id="btnSubmit" text="保存数据" on-click="btnSubmit_Click"></f:button>

            <br>
            <f:label id="labResult" encode-text="false"></f:label>

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script>
                function renderHobby(value, params) {
                    return params.rowValue['HobbyText'];
                }

                // 自定义编辑器获取函数（从Editor返回单元格）
                function editGetterHobby(editor, columnId, rowId) {
                    // 将Editor的值返回到表格单元格，随后的renderHobby会用到
                    this.updateCellValue(rowId, 'HobbyText', editor.getText());
                    return editor.getValue().join(',');
                }

                // 自定义编辑器设置函数（从单元格进入Editor）
                function editSetterHobby(editor, val, columnId, rowId) {
                    editor.setValue(val, this.getRowData(rowId).values['HobbyText']);
                }

            </script>
        </th:block>
    </body>

</html>
