<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 动态创建可编辑列</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格（单击编辑）" data-id-field="Id" data-text-field="Name"
                allow-cell-editing="true" clicks-to-edit="1" row-data-bound-function="onGrid1RowDataBound">
                <f:listeners>
                    <f:listener event="afteredit" handler="onGrid1AfterEdit"></f:listener>
                </f:listeners>
            </f:grid>

            <br>
            <f:button id="btnSubmit" text="保存数据" on-click="btnSubmit_Click"></f:button>
            <br>
            <f:label id="labResult" encode-text="false"></f:label>
            <br>
            <br>
            注：
            <ul>
                <li>所有列都是在后台动态创建的。</li>
                <li>修改第一列的值，会同时更新后面几列的值。</li>
            </ul>

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script>
                window._MINYEAR = 2014;
                window._MAXYEAR = 2017;

                function updateTotalCell(grid, rowId) {
                    var me = grid,
                        total = 0;
                    for (var i = _MINYEAR; i <= _MAXYEAR; i++) {
                        total += me.getCellValue(rowId, 'Year_' + i);
                    }

                    me.updateCellValue(rowId, 'TotalFee', total);
                }

                function onGrid1AfterEdit(event, value, params) {
                    var me = this,
                        rowId = params.rowId;
                    if (params.columnId === 'Year_' + _MINYEAR) {
                        for (var i = _MINYEAR + 1; i <= _MAXYEAR; i++) {
                            me.updateCellValue(rowId, 'Year_' + i, value);
                        }
                    }

                    updateTotalCell(me, rowId);
                }

                function onGrid1RowDataBound(rowData) {
                    var year2014 = 0,
                        year2015 = 0,
                        year2016 = 0,
                        year2017 = 0;

                    var sourceYearData = rowData.values.YearData;
                    if (sourceYearData) {
                        var yearData = F.parseJSON(sourceYearData);
                        year2014 = yearData['2014'] || 0;
                        year2015 = yearData['2015'] || 0;
                        year2016 = yearData['2016'] || 0;
                        year2017 = yearData['2017'] || 0;
                    }

                    rowData.values['Year_2014'] = year2014;
                    rowData.values['Year_2015'] = year2015;
                    rowData.values['Year_2016'] = year2016;
                    rowData.values['Year_2017'] = year2017;
                    rowData.values['TotalFee'] = year2014 + year2015 + year2016 + year2017;
                }

            </script>
        </th:block>
    </body>

</html>
