<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 禁止单元格编辑</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格（单击编辑）" data-id-field="Id" data-text-field="Name"
                allow-cell-editing="true" clicks-to-edit="1">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" column-id="Name" data-field="Name">
                        <f:editor>
                            <f:text-box id="tbxName" required="true"></f:text-box>
                        </f:editor>
                    </f:render-field>
                    <f:render-field header-text="性别" column-id="Gender" data-field="Gender" field-type="Int" renderer-function="renderGender">
                        <f:editor>
                            <f:drop-down-list id="ddlGender" required="true">
                                <f:list-item text="男" value="1"></f:list-item>
                                <f:list-item text="女" value="0"></f:list-item>
                            </f:drop-down-list>
                        </f:editor>
                    </f:render-field>
                    <f:render-field header-text="入学年份" column-id="EntranceYear" data-field="EntranceYear" field-type="Int"
                        renderer-function="renderEntranceYear">
                        <f:editor>
                            <f:number-box id="nbxEntranceYear" no-decimal="true" no-negative="true" min-value="2000" max-value="2025"></f:number-box>
                        </f:editor>
                    </f:render-field>
                    <f:render-field header-text="入学日期" column-id="EntranceDate" data-field="EntranceDate" field-type="Date" renderer="Date"
                        renderer-argument="yyyy/MM/dd" width="150" renderer-function="renderEntranceDate">
                        <f:editor>
                            <f:date-picker id="dpEntranceDate" required="true"></f:date-picker>
                        </f:editor>
                    </f:render-field>
                    <f:render-check-field header-text="是否在校" column-id="AtSchool" data-field="AtSchool"></f:render-check-field>
                    <f:render-field header-text="所学专业" column-id="Major" data-field="Major" expand-unused-space="true" min-width="150">
                        <f:editor>
                            <f:text-box id="tbxMajor" required="true"></f:text-box>
                        </f:editor>
                    </f:render-field>
                </f:columns>
            </f:grid>

            <br>
            <br>
            <f:button id="btnSubmit" text="保存数据" on-click="btnSubmit_Click"></f:button>

            <br>
            <f:label id="labResult" encode-text="false"></f:label>

            <br>
            注：
            <ul>
                <li>入学日期列删除Renderer=Date属性，增加自定义渲染函数RendererFunction=renderEntranceDate。</li>
                <li>本例子禁止[入学年份小于等于2002]行中[入学年份]和[入学日期]的单元格编辑。</li>
            </ul>

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script>
                function renderEntranceYear(value, params) {
                    if (value <= 2002) {
                        params.cellCls = 'f-grid-cell-uneditable';
                    }

                    return value;
                }

                function renderEntranceDate(value, params) {
                    if (params.rowData.values.EntranceYear <= 2002) {
                        params.cellCls = 'f-grid-cell-uneditable';
                    }

                    return F.formatDate(params.column.fieldFormat, value);
                }

            </script>
        </th:block>
    </body>

</html>
