<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 新增行（定位到某一列）</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格（双击编辑）" data-id-field="Id" data-text-field="Name"
                allow-cell-editing="true" clicks-to-edit="2" enable-check-box-select="true">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" column-id="Name" data-field="Name">
                        <f:editor>
                            <f:text-box id="tbxName" required="true"></f:text-box>
                        </f:editor>
                    </f:render-field>
                    <f:render-field header-text="性别" column-id="Gender" data-field="Gender" field-type="Int" renderer-function="renderGender">
                        <f:editor>
                            <f:drop-down-list id="ddlGender" required="true">
                                <f:list-item text="男" value="1"></f:list-item>
                                <f:list-item text="女" value="0"></f:list-item>
                            </f:drop-down-list>
                        </f:editor>
                    </f:render-field>
                    <f:render-field header-text="入学年份" column-id="EntranceYear" data-field="EntranceYear" field-type="Int">
                        <f:editor>
                            <f:number-box id="nbxEntranceYear" no-decimal="true" no-negative="true" min-value="2000" max-value="2025"></f:number-box>
                        </f:editor>
                    </f:render-field>
                    <f:render-field header-text="入学日期" column-id="EntranceDate" data-field="EntranceDate" field-type="Date" renderer="Date"
                        renderer-argument="yyyy/MM/dd" width="150">
                        <f:editor>
                            <f:date-picker id="dpEntranceDate" required="true"></f:date-picker>
                        </f:editor>
                    </f:render-field>
                    <f:render-check-field header-text="是否在校" column-id="AtSchool" data-field="AtSchool"></f:render-check-field>
                    <f:render-field header-text="所学专业" column-id="Major" data-field="Major" expand-unused-space="true" min-width="150">
                        <f:editor>
                            <f:text-box id="tbxMajor" required="true"></f:text-box>
                        </f:editor>
                    </f:render-field>
                </f:columns>
                <f:toolbars>
                    <f:toolbar>
                        <f:items>
                            <f:button id="btnNew" text="新增数据" icon="Add" click-handler="onNewClick"></f:button>
                            <f:toolbar-fill></f:toolbar-fill>
                            <f:button id="btnReset" text="重置表格数据" click-handler="onResetClick"></f:button>
                        </f:items>
                    </f:toolbar>
                </f:toolbars>
            </f:grid>

            <br>
            <f:button id="btnSubmit" text="保存数据" on-click="btnSubmit_Click"></f:button>

            <br>
            <f:label id="labResult" encode-text="false"></f:label>

            <br />
            注：新增行后，使得 [所学专业] 列自动进入编辑状态。

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script>
                function onNewClick(event) {
                    F.ui.Grid1.addNewRecord({
                        'Name': '新用户',
                        'Gender': '1',
                        'EntranceYear': '2015',
                        'EntranceDate': '2016-11-15',
                        'AtSchool': false,
                        'Major': '化学系'
                    }, true, 'Major');
                }

                function onResetClick(event) {
                    F.confirm({
                        message: '确定要重置表格数据？',
                        ok: function() {
                            F.ui.Grid1.rejectChanges();
                        }
                    });
                }

            </script>
        </th:block>
    </body>

</html>
