<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 显示隐藏列</title>
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格" data-id-field="Id" data-text-field="Name"
                enable-check-box-select="true">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" data-field="Name"></f:render-field>
                    <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender" hidden="true"
                        enable-column-hide="false"></f:render-field>
                    <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="分组" data-field="Group" renderer-function="renderGroup"></f:render-field>
                </f:columns>
            </f:grid>
            <br />
            <f:hidden-field id="hfGenderHidden"></f:hidden-field>
            <f:button id="Button3" text="显示/隐藏性别列" css-class="marginr" on-click="Button3_Click"></f:button>
            <f:button id="Button4" text="获得隐藏列列表" click-handler="onButton4Click"></f:button>
            <br /><br />
            注：性别列设置了 enable-column-hide=false，所以不能通过标题栏菜单隐藏，但仍然可以通过后台代码隐藏。
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script>
                function onButton4Click(event) {
                    var grid1 = F.ui.Grid1;
                    var result = [];
                    grid1.resolveColumn(function(column) {
                        if (column.hidden) {
                            result.push(column.text);
                        }
                    });
                    if (result.length) {
                        F.notify({
                            message: '隐藏列：' + result.join(', '),
                            positionX: 'center',
                            positionY: 'center'
                        });
                    } else {
                        F.alert('没有隐藏列！');
                    }
                }

            </script>
        </th:block>
    </body>

</html>
