<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 多操作列</title>

        <style>
            .f-grid-cell-Actions .action {
                display: inline-block;
                vertical-align: middle;
            }

        </style>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格" data-id-field="Id" data-text-field="Name">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" data-field="Name"></f:render-field>
                    <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                    <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="分组" data-field="Group" renderer-function="renderGroup"></f:render-field>
                    <f:render-field column-id="Actions" renderer-function="renderActions" width="180"></f:render-field>
                </f:columns>
                <f:listeners>
                    <f:listener event="dataload" handler="onGridDataLoad"></f:listener>
                </f:listeners>
            </f:grid>
            <br /><br />

            <f:window id="Window1" title="审批" hidden="true" enable-iframe="true" enable-maximize="true" enable-resize="true" target="Top"
                on-close="Window1_Close" is-modal="true" width="850" height="500">
            </f:window>

            <f:button text="选中了哪些行" click-handler="onNotifySelectedRowsClick"></f:button>

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script th:inline="none">
                function renderActions(value, params) {
                    return '<a class="action editit" href="javascript:;">' +
                        '<img class="f-grid-imagefield" src="' + F.resolveUrl('/res/icon/pencil.png') + '">' +
                        '</a>' +
                        '&nbsp;&nbsp;' +
                        '<a class="action deleteit" href="javascript:;">' +
                        '<img class="f-grid-imagefield" src="' + F.resolveUrl('/res/icon/delete.png') + '">' +
                        '</a>' +
                        '&nbsp;&nbsp;&nbsp;&nbsp;' +
                        '<div class="action btncontainer"></div>';
                }

                // 表格数据加载完毕：为每行的占位容器动态创建一个按钮
                function onGridDataLoad(event) {
                    var grid = this;

                    grid.bodyEl.find('.f-grid-cell-Actions .btncontainer').each(function() {
                        var btncontainer = $(this);
                        F.create({
                            type: 'Button',
                            renderTo: btncontainer,
                            iconFont: 'user',
                            text: '动态按钮'
                        });
                    });

                    // 动态创建的按钮会导致表格内内容错位，需要重新布局
                    grid.doLayout();
                }

                F.ready(function() {

                    var grid = F.ui.Grid1;
                    var wnd = F.ui.Window1;

                    grid.el.on('click', '.f-grid-cell-Actions .action.editit', function(event) {
                        var targetEl = $(this);
                        var rowEl = targetEl.closest('.f-grid-row');
                        var rowData = grid.getRowData(rowEl);
                        var rowId = rowData.id;
                        var rowText = rowData.text;

                        var iframeUrl = F.resolveUrl('/grid/iframe-window?id=' + rowId + '&name=' + encodeURIComponent(rowText));
                        // 显示窗体
                        wnd.show(iframeUrl, '审批 - ' + rowText);
                    });

                    grid.el.on('click', '.f-grid-cell-Actions .action.deleteit', function(event) {
                        var targetEl = $(this);
                        var rowEl = targetEl.closest('.f-grid-row');
                        var rowData = grid.getRowData(rowEl);

                        F.confirm({
                            message: '删除选中行？',
                            messageIcon: 'warning',
                            target: '_top',
                            ok: function() {
                                // 触发后台事件
                                F.customEvent('Grid1_CustomDelete', {
                                    rowIndex: rowEl.index(),
                                    rowId: rowData.id,
                                    rowText: rowData.text
                                });
                            }
                        });
                    });

                    grid.el.on('click', '.f-grid-cell-Actions .action.btncontainer', function(event) {
                        var targetEl = $(this);
                        var rowEl = targetEl.closest('.f-grid-row');
                        var rowData = grid.getRowData(rowEl);

                        // 触发后台事件
                        F.customEvent('Grid1_CustomEdit', {
                            rowIndex: rowEl.index(),
                            rowId: rowData.id,
                            rowText: rowData.text
                        });
                    });

                });

            </script>
        </th:block>
    </body>

</html>
