<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 单元格提示</title>
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格" data-id-field="Id" data-text-field="Name">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="姓名" data-field="Name"></f:render-field>
                    <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                    <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" width="150"></f:render-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajorLink" expand-unused-space="true"
                        min-width="150"></f:render-field>
                </f:columns>
            </f:grid>
            <br />
            <f:button text="选中了哪些行" click-handler="onNotifySelectedRowsClick"></f:button>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script th:inline="none">
                function renderMajor(value) {
                    //return F.formatString('<span data-qtip="{0}">{0}</span>', F.htmlEncode(value));
                    var encodedValue = F.htmlEncode(value);
                    return $('<span>', {
                        'data-qtip': encodedValue,
                        'html': encodedValue
                    });
                }

                function renderMajorLink(value) {
                    //var url = 'http://gsa.ustc.edu.cn/search?q=' + F.urlEncode(value);
                    //return F.formatString('<a href="{0}" data-qtip="{1}" target="_blank">{1}</a>', url, F.htmlEncode(value));
                    var encodedValue = F.htmlEncode(value);
                    return $('<a>', {
                        'target': '_blank',
                        'href': 'http://gsa.ustc.edu.cn/search?q=' + F.urlEncode(value),
                        'data-qtip': encodedValue,
                        'html': encodedValue
                    });
                }

            </script>
        </th:block>
    </body>

</html>
