<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 主从表格</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:region-panel id="RegionPanel1" is-fluid="true" show-border="false" margin="24" is-view-port="true">
                <f:regions>
                    <f:region id="Region1" show-border="false" show-header="false" region-position="Left" body-padding="0 5 0 0" width="200" layout="Fit">
                        <f:items>
                            <f:grid id="Grid2" show-border="true" show-header="true" title="表格（班级）" enable-multi-select="false" data-id-field="Id"
                                data-text-field="Name" on-row-select="Grid2_RowSelect" show-grid-header="false">
                                <f:columns>
                                    <f:row-number-field></f:row-number-field>
                                    <f:render-field expand-unused-space="true" min-width="150" data-field="Name" header-text="班级名"></f:render-field>
                                </f:columns>
                            </f:grid>
                        </f:items>
                    </f:region>
                    <f:region id="Region2" show-border="false" show-header="false" region-position="Center" layout="VBox" box-config-align="Stretch">
                        <f:items>
                            <f:panel show-header="false" body-padding="10px" show-border="true" margin-bottom="5">
                                <f:items>
                                    <f:label id="labelClassDesc"></f:label>
                                    <f:label id="Label4"></f:label>
                                </f:items>
                            </f:panel>
                            <f:grid id="Grid1" box-flex="1" show-border="true" show-header="true" title="表格（学生）" data-id-field="Id" data-text-field="Name">
                                <f:columns>
                                    <f:row-number-field></f:row-number-field>
                                    <f:render-field header-text="姓名" data-field="Name"></f:render-field>
                                    <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                                    <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                                    <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                                        min-width="150"></f:render-field>
                                    <f:render-field header-text="分组" data-field="Group" renderer-function="renderGroup"></f:render-field>
                                    <f:render-field header-text="注册日期" data-field="LogTime" field-type="Date" renderer="Date"
                                        renderer-argument="yyyy/MM/dd"></f:render-field>
                                </f:columns>
                            </f:grid>
                        </f:items>
                    </f:region>
                </f:regions>
            </f:region-panel>

        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
        </th:block>
    </body>

</html>
