<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 列合并 + 复选分组</title>
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:grid id="Grid1" is-fluid="true" show-border="true" show-header="true" title="表格" data-id-field="Id" data-text-field="Name"
                enable-column-lines="true">
                <f:columns>
                    <f:row-number-field></f:row-number-field>
                    <f:render-field header-text="ID" data-field="Id"></f:render-field>
                    <f:render-field header-text="姓名" data-field="Name"></f:render-field>
                    <f:render-field header-text="性别" data-field="Gender" field-type="Int" renderer-function="renderGender"></f:render-field>
                    <f:render-field header-text="入学年份" data-field="EntranceYear" field-type="Int"></f:render-field>
                    <f:render-check-field header-text="是否在校" data-field="AtSchool" render-as-static-field="true"></f:render-check-field>
                    <f:render-field header-text="所学专业" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                        min-width="150"></f:render-field>
                    <f:render-field header-text="分组B" data-field="GroupB" renderer-function="renderGroup"></f:render-field>
                    <f:render-check-field column-id="CheckBoxField1" render-as-static-field="false" header-text="是否激活"></f:render-check-field>
                </f:columns>
                <f:listeners>
                    <f:listener event="dataload" handler="onGridDataLoad"></f:listener>
                </f:listeners>
            </f:grid>
            <br />
            <br />
            注：同一分组的复选框只能选中一个。
            <br />
            <br />
            <f:button text="选中了哪些行" click-handler="onNotifySelectedRowsClick"></f:button>
            <br />
            <br />
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/js/grid.js}"></script>
            <script>
                function onGridDataLoad(event) {
                    this.mergeColumns(['GroupB']);
                }

                F.ready(function() {
                    var grid = F.ui.Grid1;
                    var checkboxSelector = '.f-grid-cell-CheckBoxField1 .f-grid-checkbox';
                    grid.el.on('click', checkboxSelector, function(event) {
                        var targetEl = $(this),
                            checked = targetEl.hasClass('f-checked');
                        if (checked) {
                            var rowEl = targetEl.closest('.f-grid-row');
                            var rowData = grid.getRowData(rowEl);
                            var rowGroupB = rowData.values['GroupB'];
                            var nextRowEl;

                            function uncheckRow() {
                                var nextRowData = grid.getRowData(nextRowEl);
                                var nextRowGroupB = nextRowData.values['GroupB'];
                                if (nextRowGroupB == rowGroupB) {
                                    nextRowEl.find(checkboxSelector).removeClass('f-checked');
                                    return true;
                                } else {
                                    return false;
                                }
                            }
                            nextRowEl = rowEl;
                            while ((nextRowEl = nextRowEl.prev()).length) {
                                if (!uncheckRow()) break;
                            }
                            nextRowEl = rowEl;
                            while ((nextRowEl = nextRowEl.next()).length) {
                                if (!uncheckRow()) break;
                            }
                        }
                    });
                });

            </script>
        </th:block>
    </body>

</html>
