<!doctype html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · Block 仪表盘</title>
        <!--/* 声明本页引用的其它源文件（分号分隔，每项写成 前缀:值，前缀有 route/template/class/res 四种，见 SourceFiles）：首页"查看源代码"把它们也渲染为选项卡 */-->
        <meta name="sourcefiles"
            content="res:static/res/css/dashboard.css;res:static/res/css/responsive_card.css;res:static/res/js/dashboard_chart.js;res:static/res/js/grid.js;res:static/res/js/responsive_card.js" />

        <link th:href="@{/res/css/dashboard.css}" rel="stylesheet" />
        <link th:href="@{/res/css/responsive_card.css}" rel="stylesheet" />
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:panel id="Panel1" is-fluid="true" layout="Block" block-config-space="20" show-border="false" show-header="false">
                <f:items>
                    <f:content-panel block-md="6" block-lg="3" show-border="true" show-border-shadow="true" show-header="false">
                        <div class="mycard">
                            <div class="title">
                                今日浏览量
                                <i class="f-icon f-iconfont f-iconfont-info infoicon"></i>
                            </div>
                            <div class="number">12,000</div>
                            <div class="chart chart1"></div>
                            <div class="footer f-widget-content">日均浏览量 15,000</div>
                        </div>
                        <div class="mycard" style="display: none">
                            <div class="title">
                                今日浏览量
                                <i class="f-icon f-iconfont f-iconfont-info infoicon"></i>
                            </div>
                            <div class="desc">
                                今日浏览量的详细描述。<br />FineUI 是基于 jQuery 的专业 Web UI 控件库。
                            </div>
                        </div>
                    </f:content-panel>
                    <f:content-panel block-md="6" block-lg="3" show-border="true" show-border-shadow="true" show-header="false">
                        <div class="mycard">
                            <div class="title">
                                今日独立IP
                                <i class="f-icon f-iconfont f-iconfont-info infoicon"></i>
                            </div>
                            <div class="number">800</div>
                            <div class="chart chart2"></div>
                            <div class="footer f-widget-content">日均独立IP 900</div>
                        </div>
                        <div class="mycard" style="display: none">
                            <div class="title">
                                今日独立IP
                                <i class="f-icon f-iconfont f-iconfont-info infoicon"></i>
                            </div>
                            <div class="desc">
                                今日独立IP的详细描述。<br />FineUI 是基于 jQuery 的专业 Web UI 控件库。
                            </div>
                        </div>
                    </f:content-panel>
                    <f:content-panel block-md="6" block-lg="3" show-border="true" show-border-shadow="true" show-header="false">
                        <div class="mycard">
                            <div class="title">
                                今日用户量
                                <i class="f-icon f-iconfont f-iconfont-info infoicon"></i>
                            </div>
                            <div class="number">900</div>
                            <div class="chart chart3"></div>
                            <div class="footer f-widget-content">
                                周同比 10%
                                <i class="f-icon f-iconfont f-iconfont-triangle-down"></i>&nbsp;日环比 20%
                                <i class="f-icon f-iconfont f-iconfont-triangle-up"></i>
                            </div>
                        </div>
                        <div class="mycard" style="display: none">
                            <div class="title">
                                今日用户量
                                <i class="f-icon f-iconfont f-iconfont-info infoicon"></i>
                            </div>
                            <div class="desc">
                                今日用户量的详细描述。<br />FineUI 是基于 jQuery 的专业 Web UI 控件库。
                            </div>
                        </div>
                    </f:content-panel>
                    <f:content-panel block-md="6" block-lg="3" show-border="true" show-border-shadow="true" show-header="false">
                        <div class="mycard rank">
                            <div class="title">
                                今日排名
                                <i class="f-icon f-iconfont f-iconfont-info infoicon"></i>
                            </div>
                            <div class="number">
                                <span class="number-subtext">上升</span> 9
                                <span class="number-subtext">位</span>
                            </div>
                            <div class="chart">
                                <div class="f-progressbar f-widget-content">
                                    <div class="f-progressbar-value f-widget-header" style="width: 70%"></div>
                                </div>
                            </div>
                            <div class="footer f-widget-content">
                                分类排名前 32%
                                <i class="f-icon f-iconfont f-iconfont-triangle-up"></i>
                            </div>
                        </div>
                        <div class="mycard" style="display: none">
                            <div class="title">
                                今日排名
                                <i class="f-icon f-iconfont f-iconfont-info infoicon"></i>
                            </div>
                            <div class="desc">
                                今日排名的详细描述。<br />FineUI 是基于 jQuery 的专业 Web UI 控件库。
                            </div>
                        </div>
                    </f:content-panel>
                    <f:tab-strip id="TabStrip1" css-class="mytabstrip" block-md="12" show-ink-bar="true" show-border="true" show-border-shadow="true"
                        active-tab-index="0">
                        <f:tabs>
                            <f:tab title="浏览量" layout="Block" block-config-space="0">
                                <f:items>
                                    <f:content-panel block-md="6" block-lg="8" show-border="false" show-header="false">
                                        <div class="tabstrip-chart chart1"></div>
                                    </f:content-panel>
                                    <f:content-panel block-md="6" block-lg="4" body-padding="20" show-border="false" show-header="false">
                                        <table class="mytable">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Operator</th>
                                                    <th>PV</th>
                                                    <th>UV</th>
                                                    <th>IP</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="mynumber round f-widget-header">1</span>
                                                    </td>
                                                    <td>电信</td>
                                                    <td>12,000</td>
                                                    <td>9,000</td>
                                                    <td>6,000</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="mynumber round f-widget-header">2</span>
                                                    </td>
                                                    <td>联通</td>
                                                    <td>10,000</td>
                                                    <td>8,000</td>
                                                    <td>5,000</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="mynumber round f-widget-header">3</span>
                                                    </td>
                                                    <td>移动</td>
                                                    <td>9,000</td>
                                                    <td>6,000</td>
                                                    <td>4,000</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="mynumber">4</span></td>
                                                    <td>长宽</td>
                                                    <td>6,000</td>
                                                    <td>5,000</td>
                                                    <td>3,000</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="mynumber">5</span></td>
                                                    <td>铁通</td>
                                                    <td>4,000</td>
                                                    <td>3,000</td>
                                                    <td>2,000</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="mynumber">6</span></td>
                                                    <td>其它</td>
                                                    <td>8,000</td>
                                                    <td>5,000</td>
                                                    <td>2,000</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </f:content-panel>
                                </f:items>
                            </f:tab>
                            <f:tab title="用户量" layout="Block" block-config-space="0">
                                <f:items>
                                    <f:content-panel block-md="6" block-lg="8" show-border="false" show-header="false">
                                        <div class="tabstrip-chart chart2"></div>
                                    </f:content-panel>
                                    <f:content-panel block-md="6" block-lg="4" body-padding="20" show-border="false" show-header="false">
                                        <table class="mytable">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Browser</th>
                                                    <th>PV</th>
                                                    <th>UV</th>
                                                    <th>IP</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Chrome</td>
                                                    <td>12,600</td>
                                                    <td>9,600</td>
                                                    <td>6,600</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Firefox</td>
                                                    <td>10,600</td>
                                                    <td>8,600</td>
                                                    <td>5,600</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Safari</td>
                                                    <td>9,600</td>
                                                    <td>6,600</td>
                                                    <td>4,600</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>IE</td>
                                                    <td>6,600</td>
                                                    <td>5,600</td>
                                                    <td>3,600</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Edge</td>
                                                    <td>4,600</td>
                                                    <td>3,600</td>
                                                    <td>2,600</td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>Others</td>
                                                    <td>8,600</td>
                                                    <td>5,600</td>
                                                    <td>2,600</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </f:content-panel>
                                </f:items>
                            </f:tab>
                        </f:tabs>
                        <f:tools>
                            <f:tool icon-font="_More" tool-tip="打开详细数据" click-handler="onTabstripToolClick"></f:tool>
                        </f:tools>
                    </f:tab-strip>
                    <f:panel block-md="6" block-lg="8" layout="Block" block-config-space="20" show-border="false" show-header="false">
                        <f:items>
                            <f:grid id="Grid1" css-class="mygrid responsive-card-grid" block-md="12" show-border="true" show-border-shadow="true"
                                show-header="true" title="表格示例" enable-check-box-select="true" enable-alternate-row-color="true" enable-row-lines="true"
                                keep-current-selection="true" responsive-card-size="MD" card-renderer-function="renderResponsiveCard" data-id-field="Id"
                                data-attribute-fields="Name,Gender,Avatar,EntranceYear,Status,Desc">
                                <f:columns>
                                    <f:render-field column-id="UserProfile" width="250" renderer-function="renderUserProfile"
                                        header-text="基本信息"></f:render-field>
                                    <f:render-check-field column-id="AtSchool" data-field="AtSchool" render-as-static-field="true"
                                        header-text="是否在校"></f:render-check-field>
                                    <f:render-field width="150" column-id="Rate1" data-field="Rate1" field-type="Int" header-text="评分"
                                        renderer-function="renderRate1"></f:render-field>
                                    <f:render-field column-id="Major" data-field="Major" renderer-function="renderMajor" expand-unused-space="true"
                                        min-width="150" header-text="所学专业"></f:render-field>
                                    <f:render-field column-id="Status" data-field="Status" renderer-function="renderStatus" header-text="状态"></f:render-field>
                                </f:columns>
                            </f:grid>
                            <f:form id="DashboardForm" css-class="myform" block-md="12" layout="Block" block-config-space="10" body-padding="20"
                                show-border="true" show-border-shadow="true" show-header="true" title="表单示例" label-align="Right">
                                <f:items>
                                    <f:label id="Label1" block-md="6" label="标签" text="标签的值"></f:label>
                                    <f:check-box id="CheckBox1" block-md="6" text="复选框" label="复选框"></f:check-box>
                                    <f:drop-down-list id="DropDownList1" block-md="6" required="true" show-red-star="true" auto-select-first-item="false"
                                        label="下拉列表">
                                        <f:items>
                                            <f:list-item text="可选项 1" selected="true" value="0"></f:list-item>
                                            <f:list-item text="可选项 2" value="2"></f:list-item>
                                            <f:list-item text="可选项 3" value="3"></f:list-item>
                                        </f:items>
                                    </f:drop-down-list>
                                    <f:text-box id="TextBox1" block-md="6" show-red-star="true" label="文本框" required="true" text=""></f:text-box>
                                    <f:date-picker id="DatePicker1" block-md="6" readonly="true" required="true" label="日期" empty-text="请选择日期"
                                        show-red-star="true" text="2014-07-10"></f:date-picker>
                                    <f:time-picker id="TimePicker1" block-md="6" readonly="true" show-red-star="true" label="时间" increment="30" required="true"
                                        text="08:30" empty-text="请选择时间"></f:time-picker>
                                    <f:check-box-list id="CheckBoxList1" block-md="12" label="复选框列表" column-number="3">
                                        <f:items>
                                            <f:check-item text="可选项 1" value="value1"></f:check-item>
                                            <f:check-item text="可选项 2" value="value2" selected="true"></f:check-item>
                                            <f:check-item text="可选项 3" value="value3" selected="true"></f:check-item>
                                            <f:check-item text="可选项 4" value="value4" selected="true"></f:check-item>
                                            <f:check-item text="可选项 5" value="value5" selected="true"></f:check-item>
                                        </f:items>
                                    </f:check-box-list>
                                    <f:text-area id="TextArea1" block-md="12" label="描述" show-red-star="true" required="true"></f:text-area>
                                </f:items>
                            </f:form>
                        </f:items>
                    </f:panel>
                    <f:panel block-md="6" block-lg="4" layout="Block" block-config-space="20" show-border="false" show-header="false">
                        <f:items>
                            <f:content-panel block-md="12" body-padding="20 20 0 20" show-border="true" show-border-shadow="true" show-header="true"
                                title="本站统计">
                                <ul class="mysitestats"></ul>
                            </f:content-panel>
                            <f:content-panel block-md="12" body-padding="20" show-border="true" show-border-shadow="true" show-header="true" title="访问来源">
                                <ul class="mychart-pie"></ul>
                            </f:content-panel>
                        </f:items>
                    </f:panel>
                </f:items>
            </f:panel>
            <div class="f-widget-content" id="emptycontent"></div>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/res/third-party/echarts/echarts.min.js}"></script>
            <script th:src="@{/res/js/dashboard_chart.js}"></script>
            <script th:src="@{/res/js/grid.js}"></script>
            <script th:src="@{/res/js/responsive_card.js}"></script>
            <script th:inline="javascript">
                function onTabstripToolClick(event) {
                    parent.addExampleTab &&
                        parent.addExampleTab({
                            id: "dashboard_iframe_grid",
                            iframeUrl: /*[[@{/iframe/grid-iframe}]]*/ "/iframe/grid-iframe",
                            title: "表格与编辑窗体",
                            refreshWhenExist: true,
                        });
                }
                F.ready(function() {
                    $(".mycard .infoicon").click(function() {
                        var card1 = $(this).parents(".mycard"),
                            card2 = card1.siblings(".mycard");
                        F.flip(card1, card2);
                    });
                    var siteStats = [];

                    function addToSiteStats(title, content) {
                        siteStats.push(
                            '<li class="f-state-default"><div class="title">' +
                            title +
                            '</div><div class="content">' +
                            content +
                            "</div></li>",
                        );
                    }
                    var examplesCount = parent.getExamplesCount ?
                        parent.getExamplesCount() :
                        "---";
                    var examplesCountTitle = "示例数";
                    if (F.cookie("ShowOnlyCommunity") === "true") {
                        examplesCountTitle += "（仅社区版）";
                    }
                    addToSiteStats(examplesCountTitle, examplesCount);
                    var cookieSearchText = F.cookie("SearchText");
                    if (cookieSearchText) {
                        addToSiteStats("搜索关键字", cookieSearchText);
                    }
                    addToSiteStats("显示模式", F.displayMode);
                    addToSiteStats("语言", F.language);
                    addToSiteStats("主题", F.theme);
                    addToSiteStats("版本", F.version);
                    $(".mysitestats").html(siteStats.join(""));
                    F.ui.Panel1.doLayout();
                });

            </script>
        </th:block>
    </body>

</html>
