<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · custom-item-group-data-display-fields-multi-select</title>

        <style>
            .item-text {
                margin-bottom: 5px;
                font-weight: bold;
                display: inline-block;
            }

            .item-desc {
                font-size: 0.9em;
                word-break: break-all;
            }

            .f-field-dropdownlist-pop-groupitem {
                padding-left: 20px !important;
                display: flex;
                justify-content: flex-start;
            }

        </style>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:simple-form id="SimpleForm1" is-fluid="true" body-padding="10" enable-collapse="false" show-border="true" title="分组+自定义列表项+多选+复选框"
                show-header="true">
                <f:items>
                    <f:drop-down-list id="DropDownList1"></f:drop-down-list>
                    <f:button id="btnGetSelection" text="获取此下拉列表的选中项" on-click="btnGetSelection_Click"></f:button>
                </f:items>
            </f:simple-form>
            <br />
            <f:label id="labResult" encode-text="false"></f:label>

        </th:block>
    </body>

</html>
