<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · SelectedIndexChangedEnableEditNoForceSelection</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:simple-form id="SimpleForm1" is-fluid="true" body-padding="10" enable-collapse="false" show-border="true" title="简单下拉列表（选中项改变事件，可编辑，用户输入值）"
                show-header="true">
                <f:items>
                    <f:drop-down-list id="DropDownList1" enable-edit="true" force-selection="false"
                        on-selected-index-changed="DropDownList1_SelectedIndexChanged">
                        <f:list-item text="可选项1" value="Value1"></f:list-item>
                        <f:list-item text="可选项2（不可选择）" value="Value2" enable-select="false"></f:list-item>
                        <f:list-item text="可选项3（不可选择）" value="Value3" enable-select="false"></f:list-item>
                        <f:list-item text="可选项4" value="Value4"></f:list-item>
                        <f:list-item text="可选项5" value="Value5"></f:list-item>
                        <f:list-item text="可选项6" value="Value6"></f:list-item>
                        <f:list-item text="可选择项7" value="Value7"></f:list-item>
                        <f:list-item text="可选择项8" value="Value8"></f:list-item>
                        <f:list-item text="可选择项9" value="Value9"></f:list-item>
                        <f:list-item text="普通型1 < L > 1.5" value="普通型1 < L > 1.5"></f:list-item>
                    </f:drop-down-list>
                    <f:button id="btnSelectItem6" text="选中[可选项6]" css-class="marginr" on-click="btnSelectItem6_Click"></f:button>
                    <f:button id="btnGetSelection" text="获取此下拉列表的选中项" on-click="btnGetSelection_Click"></f:button>
                </f:items>
            </f:simple-form>
            <br />
            <f:label id="labResult" encode-text="false"></f:label>
            <br />
            <br />
            测试用例：
            <ul>
                <li>
                    初始文本：可选项1；在文本输入框依次删除：1，项；<strong class="highlight">不会</strong>触发回发事件
                </li>
                <li>
                    初始文本：可选项1；在文本输入框依次删除：1，项；然后在页面上点击一下，使得文本框失去焦点；显示文本：可选；触发回发事件（<strong class="highlight">用户输入值：可选</strong>）
                </li>
                <li>
                    初始文本：可选项1；在文本输入框依次删除：1，项；然后再依次输入：项，5；按回车键；显示文本：可选项5；触发回发事件（<strong class="highlight">选中项：可选项5（值：Value5）</strong>）
                </li>
                <li>
                    初始文本：可选项1；在文本输入框依次删除：1，项；然后再依次输入：项，5；然后在页面上点击一下，使得文本框失去焦点；显示文本：可选项5；触发回发事件（<strong class="highlight">用户输入值：可选项5</strong>）
                </li>
                <li>
                    初始文本：可选项1；点击触发图标，显示下拉列表；点击：可选项5；显示文本：可选项5；触发回发事件
                </li>
                <li>
                    初始文本：可选项1；点击按钮：选中[可选项6]；显示文本：可选项6；<strong class="highlight">不会</strong>触发回发事件
                </li>
            </ul>

        </th:block>
    </body>

</html>
