<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 自定义对话框图标</title>
    </head>

    <body>
        <th:block layout:fragment="body">

            <f:button id="btnHello" text="点击弹出对话框（Icon）" on-click="btnHello_Click"></f:button>
            <br />
            <br />
            <f:button id="btnHello2" text="在顶层窗口弹出对话框（IconUrl）" on-click="btnHello2_Click"></f:button>
            <br />
            <br />
            <f:button id="btnHello3" text="在顶层窗口弹出对话框（IconFont）" on-click="btnHello3_Click"></f:button>

        </th:block>
    </body>

</html>
